<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
{{#if defendingAgainst}}
    {{> defendingAgainst}}
{{/if}}

{{> actions}}


{{#if sections.skills.show}}
    <div class="item-section skills">
        {{{sections.skills.html}}}
    </div>
{{/if}}


<div class="sheet-list">
    <div class="list-header row-content">
        <div class="list-name">{{localize "IMPMAL.Attacks"}}</div>
        <div class="list-controls">
            <a class="list-control" data-action="createItem" data-type="weapon"><i class="fa-solid fa-plus"></i></a>
        </div>
    </div>
    <div class="list-content">
        {{#each attackItems}}
            <div class="list-row" data-uuid="{{this.uuid}}" data-id="{{this.id}}">
                <div class="row-content">
                    <div class="list-name rollable" data-action="rollTest" data-type="{{this.type}}">
                        <img src="{{this.img}}">
                        <a class="label">{{this.name}}</a>
                    </div>



                        <div class="flex" data-tooltip="{{localize this.system.attackData.specialisation}} ({{this.system.attackData.skillTotal}})">{{localize this.system.attackData.specialisation}} ({{this.system.attackData.skillTotal}})</div>
                        <div>{{this.system.attackData.damage.value}} {{localize "IMPMAL.Damage"}}</div>
                        {{#if this.system.isRanged}}
                        <div>{{configLookup "ranges" this.system.range}}</div>
                        {{/if}}
                        {{#if this.system.isRanged}}
                            <div>{{configLookup "ranges" this.system.attackData.range}} {{localize "IMPMAL.Range"}}</div>
                        {{/if}}
                    </div>
                    {{#if (or this.system.traits.list.length this.system.isRanged)}}
                    <div class="row-content weapon-aux">
                        {{#if this.system.traits.list.length}}
                            <div class="weapon-traits">
                                <div class="trait-list">
                                    {{this.system.traits.displayString}}
                                </div>
                            </div>
                        {{/if}}

                        {{#if this.system.isRanged}}
                            {{#unless this.system.selfAmmo}}
                                <button type="button" class="mag prevent-context" data-action="clickMag">
                                    <label>{{localize "IMPMAL.Mag"}}</label>
                                    <div class="values">
                                        <div class="current">{{this.system.mag.current}}</div>
                                        <div>/</div>
                                        <div class="value">{{this.system.mag.value}}</div>
                                    </div>
                                </button>
                                <button data-action="ammoChange" class="large">
                                    {{#if this.system.ammo.document}}
                                        {{this.system.ammo.document.name}}
                                        ({{this.system.ammo.document.system.quantity}})
                                    {{else}}
                                        {{localize "IMPMAL.NoAmmoLoaded"}}
                                    {{/if}}
                                </button>
                            {{else}}
                            <a data-action="stepProperty" data-path="system.quantity" class="prevent-context">
                                <label>{{localize "IMPMAL.Qty."}}</label>
                                {{this.system.quantity}}
                            </a>
                            {{/unless}}
                        {{/if}}
                    </div>
                    {{/if}}
                    {{> sheetButtons document=this}}
                    <div class="dropdown-content collapsed">

                    </div>
                </div>
        {{/each}}
    </div>
</div>


<div class="sheet-list">
    <div class="list-header row-content">
        <div class="list-name">{{localize "IMPMAL.Traits"}}</div>
        <div class="list-controls">
            <a class="list-control" data-action="createItem" data-type="trait"><i class="fa-solid fa-plus"></i></a>
        </div>
    </div>
    <div class="list-content">
        {{#each traits}}
            <div class="list-row" data-uuid="{{this.uuid}}">
                <div class="row-content">
                    <div class="list-name rollable" data-action="useItem">
                        <img src="{{this.img}}">
                        <a class="label">{{this.name}}</a>
                    </div>
                </div>
                {{#if (lookup ../enriched.traits this.id)}}
                <div class="description">
                    {{{lookup ../enriched.traits this.id}}}
                </div>
                {{/if}}
                <div>

                </div>
                {{> sheetButtons document=this}}
                <div class="dropdown-content collapsed">

                </div>
            </div>
        {{/each}}
    </div>
</div>


<div class="sheet-list">
    <div class="list-header row-content">
        <div class="list-name">{{localize "IMPMAL.Possessions"}}</div>
        <div class="small">{{localize "IMPMAL.Eqp."}}</div>
        <div class="small">{{localize "IMPMAL.Qty."}}</div>
        <div class="list-controls">
            <a class="list-control" data-action="createItem" data-type="protection,equipment,augmetic,weapon"><i class="fa-solid fa-plus"></i></a>
        </div>
    </div>
    <div class="list-content">
        {{#each possessions}}
            <div class="list-row" data-uuid="{{this.uuid}}">
                <div class="row-content">
                    <div class="list-name rollable" data-action="useItem">
                        <img src="{{this.img}}">
                        <a class="label">{{this.name}}</a>
                    </div>

                        <div class="small">
                        <a data-action="toggleProperty" data-path="system.equipped.value">
                            {{#if this.system.equipped.value}}
                                <i class="fa-regular fa-circle-check"></i>
                            {{else}}
                                <i class="fa-regular fa-circle"></i>
                            {{/if}}
                        </a>
                        </div>

                        <a class="small prevent-context" data-action="stepProperty" data-path="system.quantity">{{this.system.quantity}}</a>


                        <div class="list-controls">
                            <a class="list-control context-menu"><i class="fa-regular fa-ellipsis-vertical"></i></a>
                        </div>
                    </div>
                    {{> sheetButtons document=this}}
                    <div class="dropdown-content collapsed">

                    </div>
                </div>
        {{/each}}
    </div>
</div>
</section>