<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
    {{formGroup fields.custom value=source.system.custom}}

    <div {{#unless source.system.custom}}class="disabled inactive"{{/unless}} style="display: flex; flex-direction: column; gap: 1rem">
        {{formGroup fields.priceMultiplier value=source.system.priceMultiplier}}
        {{formGroup fields.damage value=source.system.damage}}
        {{formGroup fields.usedWith value=source.system.usedWith}}
        {{> itemTraits traits=document.system.addedTraits path="system.addedTraits" label="IMPMAL.TraitsAdded"}}
        {{> itemTraits traits=document.system.removedTraits path="system.removedTraits" label="IMPMAL.TraitsRemoved"}}
    </div>
</section>