<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
    {{formGroup fields.characteristics.fields.base value=source.system.characteristics.base choices=(config "characteristics")}}

    <div class="form-group stacked input-list characteristics">
        <label>{{localize "IMPMAL.Characteristics"}}</label>
        <div class="fields" data-path="system.characteristics.choices">
            {{#each (config "characteristics")}}
                <div>
                    <input type="checkbox" data-value="{{@key}}" {{checked (includes
                        ../system.characteristics.choices @key)}}>
                    {{this}}
                </div>
            {{/each}}
        </div>
    </div>

    {{> documentReference label="IMPMAL.TableFaction" path="system.factionTable" document=system.factionTable}}


    
                <div class="sheet-list">
                    <div class="list-header row-content">
                        <div class="list-name">{{localize "IMPMAL.Equipment"}}</div>
                        <div class="list-controls">
                        </div>
                    </div>
                    <div class="list-content">
                        {{#each equipment}}
                            <div class="list-row" data-index="{{@key}}" data-path="system.equipment">
                                <div class="row-content">
                                    <div class="list-name">
                                        <img src="{{this.img}}">
                                        <div class="label">{{this.name}}</div>
                                    </div>
                                    <div class="list-controls">
                                        <a class="list-control" data-action="editDiff"><i class="fa-solid fa-file-plus-minus"></i></a>
                                        <a class="list-control" data-action="listDelete"><i class="fa-solid fa-xmark"></i></a>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>

                <div class="sheet-list">
                    <div class="list-header row-content">
                        <div class="list-name">{{localize "IMPMAL.Talents"}}</div>
                        <div class="list-controls">
                        </div>
                    </div>
                    <div class="list-content">
                        {{#each talents}}
                            <div class="list-row" data-index="{{@key}}" data-path="system.talents">
                                <div class="row-content">
                                    <div class="list-name">
                                        <img src="{{this.img}}">
                                        <div class="label">{{this.name}}</div>
                                    </div>
                                    <div class="list-controls">
                                        <a class="list-control" data-action="editDiff"><i class="fa-solid fa-file-plus-minus"></i></a>
                                        <a class="list-control" data-action="listDelete"><i class="fa-solid fa-xmark"></i></a>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>



</section>