<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
    {{formGroup fields.requirement.fields.value value=source.system.requirement.value}}
    {{formGroup fields.requirement.fields.script value=source.system.requirement.script}}

    <div class="sheet-list">
        <div class="list-header row-content">
            <div class="list-name">{{localize "IMPMAL.EffectOptions"}}</div>
            <div data-tooltip="{{localize 'IMPMAL.TakenReqToolTip'}}">{{localize "IMPMAL.TakenReq"}} <i
                    class="fa-regular fa-circle-question"></i></div>
            <div>{{localize "IMPMAL.Repeat"}}</div>
            <div class="list-controls">
                <a class="list-control"><i class="fa-solid fa-gear"></i></a>
            </div>
        </div>
        <div class="list-content">
            {{#each item.system.effectOptions.documents}}
                <div class="list-row" data-uuid="{{this.uuid}}">
                    <div class="row-content">
                        <div class="list-name">
                            <img src="{{this.img}}">
                            <div>{{this.name}}</div>
                        </div>
                    <div>
                        <input class="taken-req" type="number"
                            value="{{lookup ../item.system.effectTakenRequirement this.id}}">
                    </div>
                    <div>
                        <input class="repeat" type="checkbox" {{checked (lookup ../item.system.effectRepeatable
                            this.id)}}>
                    </div>
                    <div class="list-controls">
                    </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

    <fieldset>
        <legend>{{localize "IMPMAL.Test"}}</legend>
        {{> itemTest data=system.test path="system.test"}}
    </fieldset>

    {{> slotsDisplay}}
</section>