<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
    {{#unless document.isOwned}}
    {{formGroup fields.category value=system.category localize=true}}
    {{/unless}}

    {{#if (eq system.category "vehicle")}}
        {{formGroup fields.vehicle.fields.maneuverable value=system.vehicle.maneuverable}}
    {{/if}}

    <fieldset>
        <legend>Test</legend>
        {{> itemTest data=system.test path="system.test"}}
    </fieldset>
    <fieldset>
        <legend>Attack</legend>
        {{formGroup fields.attack.fields.type value=system.attack.type choices=attackTypes localize=true}}
        {{formGroup fields.attack.fields.characteristic value=source.system.attack.characteristic choices=(config "characteristics")}}
        <div class="form-group">
            <label>{{localize "IMPMAL.Skill"}}</label>
            <div class="form-fields">
                <select name="system.attack.skill.key">
                    {{selectOptions (config "skills") selected=system.attack.skill.key blank=""}}
                </select>
                <input type="text" name="system.attack.skill.specialisation" value="{{system.attack.skill.specialisation}}"  placeholder="{{localize 'IMPMAL.Specialisation'}}">
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "IMPMAL.Damage"}}</label>
            <div class="form-fields">

                {{formInput fields.attack.fields.damage.fields.characteristic value=source.system.attack.damage.characteristic choices=(config "characteristics")}}
                {{formInput fields.attack.fields.damage.fields.base value=source.system.attack.damage.base}}
                {{formInput fields.attack.fields.damage.fields.SL value=source.system.attack.damage.SL}}

                <label class="{{#unless system.attack.damage.SL}}inactive{{/unless}}">+SL</label>
            </div>
        </div>
        {{formGroup fields.attack.fields.damage.fields.ignoreAP value=source.system.attack.damage.ignoreAP}}
        {{formGroup fields.attack.fields.range value=source.system.attack.range choices=(config "ranges")}}
        {{> itemTraits traits=document.system.attack.traits path="system.attack.traits" label="IMPMAL.Traits"}}
    </fieldset>
</section>