<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile" src="{{actor.img}}" data-edit="img">
        <div class="header-details">
            <div class="details-row name">
                <input type="text" name="name" value="{{actor.name}}" placeholder="{{localize 'Name'}}">
            </div>
            <div class="details-row">
                <div class="detail-group">
                    <div class="input-group">
                        {{#if system.origin.document}}
                        <div class="singleton-item" data-id="{{system.origin.document.id}}">
                            <a class="list-edit">{{system.origin.name}}</a>
                        </div>
                        <a class="remove-singleton" data-path="system.origin"><i class="fa-solid fa-xmark"></i></a>
                        {{else}}
                        <input type="text" name="system.origin.name" value="{{system.origin.name}}" placeholder="{{localize 'IMPMAL.Origin'}}">
                        {{/if}}
                    </div>
                    <label>{{localize "IMPMAL.Origin"}}</label>
                </div>
                <div class="detail-group">
                    <div class="input-group">
                        {{#if system.faction.document}}
                        <div class="singleton-item" data-id="{{system.faction.document.id}}">
                            <a class="list-edit">{{system.faction.name}}</a>
                        </div>
                        <a class="remove-singleton" data-path="system.faction"><i class="fa-solid fa-xmark"></i></a>
                        {{else}}
                        <input type="text" name="system.faction.name" value="{{system.faction.name}}" placeholder="{{localize 'IMPMAL.Faction'}}">
                        {{/if}}
                    </div>
                    <label>{{localize "IMPMAL.Faction"}}</label>
                </div>
            </div>
            <div class="details-row">
                <div class="detail-group">
                    <div class="input-group">
                        {{#if system.role.document}}
                        <div class="singleton-item" data-id="{{system.role.document.id}}">
                            <a class="list-edit">{{system.role.name}}</a>
                        </div>
                        <a class="remove-singleton" data-path="system.role"><i class="fa-solid fa-xmark"></i></a>
                        {{else}}
                        <input type="text" name="system.role.name" value="{{system.role.name}}" placeholder="{{localize 'IMPMAL.Role'}}">
                        {{/if}}
                    </div>
                    <label>{{localize "IMPMAL.Role"}}</label>
                </div>
                <div class="detail-group">
                    <div class="input-group">
                        <input type="text"  name="system.details.species" value="{{system.details.species}}" placeholder="{{localize 'IMPMAL.Species'}}">
                    </div>
                    <label>{{localize "IMPMAL.Species"}}</label>
                </div>
            </div>
        </div>
    </header>
    <section class="tab-section">
        <nav class="sheet-tabs tabs">
            <a class="tab-select item active" data-tab="main">{{localize "IMPMAL.Main"}}</a>
            <a class="tab-select item" data-tab="skills">{{localize "IMPMAL.Skills"}}</a>
            <a class="tab-select item" data-tab="talents">{{localize "IMPMAL.Talents"}}</a>
            <a class="tab-select item" data-tab="combat">{{localize "IMPMAL.Combat"}}</a>
            {{#if items.power.length}}
                <a class="tab-select item" data-tab="powers">{{localize "IMPMAL.Powers"}}</a>
            {{/if}}
            <a class="tab-select item" data-tab="effects">{{localize "IMPMAL.Effects"}}</a>
            <a class="tab-select item" data-tab="equipment">{{localize "IMPMAL.Equipment"}}</a>
            <a class="tab-select item" data-tab="notes">{{localize "IMPMAL.Notes"}}</a>
        </nav>
        <div class="tab-content">
            <div class="tab main" data-tab="main">
                {{> systems/impmal/templates/actor/tabs/character/character-main.hbs}}
            </div>
            <div class="tab skills" data-tab="skills">
                {{> systems/impmal/templates/actor/tabs/actor-skills.hbs}}
            </div>
            <div class="tab talents" data-tab="talents">
                {{> systems/impmal/templates/actor/tabs/actor-talents.hbs}}
            </div>
            <div class="tab combat" data-tab="combat">
                {{> systems/impmal/templates/actor/tabs/actor-combat.hbs}}
            </div>
            <div class="tab powers" data-tab="powers">
                {{> systems/impmal/templates/actor/tabs/actor-powers.hbs}}
            </div>
            <div class="tab effects" data-tab="effects">
                {{> systems/impmal/templates/actor/tabs/actor-effects.hbs}}
            </div>
            <div class="tab equipment" data-tab="equipment">
                {{> systems/impmal/templates/actor/tabs/actor-equipment.hbs}}
            </div>
            <div class="tab notes-tab" data-tab="notes">
                {{> systems/impmal/templates/actor/tabs/character/character-notes.hbs}}
            </div>
        </div>
    </section>
</form>