<div class="attack-fields">
    <div class="form-group">
        <label>{{localize "IMPMAL.HitLocation"}}</label>
        <div class="form-fields">
            <select name="hitLocation">
                {{selectOptions data.hitLocations selected=fields.hitLocation localize="true"}}
            </select>
        </div>
    </div>

    <div class="form-group" {{#if tooltips.damage}}data-tooltip-direction="LEFT" data-tooltip="{{tooltips.damage}}"
        {{/if}}>
        <label>{{localize "IMPMAL.Damage"}} +/-</label>
        <div class="form-fields">
            <input type="number" name="damage" value="{{fields.damage}}">
        </div>
    </div>
    
    {{#if (or data.showTraits.burst data.showTraits.rapidFire)}}
        <div class="form-group">
            <label>Fire Mode</label>
            <div class="form-fields">
                <select name="fireMode">
                    <option value="normal" {{#if (eq fields.fireMode "normal")}} selected{{/if}}>{{localize "IMPMAL.Normal"}}</option>
                    <option value="burst" {{#if (eq fields.fireMode "burst")}} selected{{/if}}>{{localize "IMPMAL.Burst"}}</option>
                    {{#if data.showTraits.rapidFire}}
                    <option value="rapidFireSpread" {{#if (eq fields.fireMode "rapidFireSpread")}} selected{{/if}}>{{localize "IMPMAL.RapidFire"}} ({{localize "IMPMAL.Spread"}})</option>
                    <option value="rapidFireAdv" {{#if (eq fields.fireMode "rapidFireAdv")}} selected{{/if}}>{{localize "IMPMAL.RapidFire"}} ({{localize "IMPMAL.Advantage"}} + {{localize "IMPMAL.Damage"}})</option>
                    {{/if}}
                </select>
            </div>
        </div>
    {{/if}}

    {{#if data.showTraits.supercharge}}
        <div class="form-group">
            <label>{{localize "IMPMAL.Supercharge"}}</label>
            <div class="form-fields">
                <input type="checkbox" name="supercharge" {{checked fields.supercharge}}>
            </div>
        </div>
    {{/if}}

</div>