<div class="skill-fields">
    <div class="form-group">
        <label>{{localize "IMPMAL.Characteristic"}}</label>
        <div class="form-fields">
            <select name="characteristic">
                {{#select fields.characteristic}}
                    {{#each (config "characteristics")}}
                        <option value="{{@key}}">{{this}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    {{#if data.context.purge}}
        <div class="form-group" data-tooltip="IMPMAL.MaximumPurgedTT" data-tooltip-direction="LEFT">
            <label>{{localize "IMPMAL.MaximumPurged"}}</label>
            <div class="form-fields">
                <input type="number" name="maxPurged" value="{{fields.maxPurged}}">
            </div>
        </div>
    {{/if}}
</div>