<form>
    <div class="dialog-sections">

        <div class="dialog-fields">
            <div class="form-group" {{#if tooltips.modifier}}data-tooltip-direction="LEFT" data-tooltip="{{tooltips.modifier}}"{{/if}}>
                <label>{{localize "IMPMAL.Modifier"}}</label>
                <div class="form-fields">
                    <input type="number" value="{{fields.modifier}}" name="modifier">
                </div>
            </div>
            <div class="form-group" {{#if tooltips.SL}}data-tooltip-direction="LEFT" data-tooltip="{{tooltips.SL}}"{{/if}}>
                <label>{{localize "IMPMAL.SL"}}</label>
                <div class="form-fields">
                    <input type="number" value="{{fields.SL}}" name="SL">
                </div>
            </div>
            <div class="form-group" {{#if tooltips.difficulty}}data-tooltip-direction="LEFT" data-tooltip="{{tooltips.difficulty}}"{{/if}}>
                <label>{{localize "IMPMAL.Difficulty"}}</label>
                <div class="form-fields">
                    <select name="difficulty">
                        {{#select fields.difficulty}}
                            {{#each (config "difficulties")}}
                                <option value="{{@key}}">{{this.name}} ({{numberFormat this.modifier sign=true}})
                                </option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            {{{subTemplate}}}
            <div class="adv-dis">
                <div>
                    <input type="radio" name="state" value="adv" {{checked (eq fields.state "adv" )}}>
                    <div class="state-label" {{#if tooltips.advantage}}data-tooltip-direction="LEFT" data-tooltip="{{tooltips.advantage}}"{{/if}}>
                        <label>{{localize "IMPMAL.Advantage"}}</label>
                        <span class="state-value">{{advCount}}</span>
                    </div>
                </div>
                <div>
                    <input type="radio" name="state" value="none" {{checked (eq fields.state "none" )}}>
                    <div class="state-label">
                        <label class="state-label">{{localize "IMPMAL.Normal"}}</label>
                    </div>
                </div>
                <div>
                    <input type="radio" name="state" value="dis" {{checked (eq fields.state "dis" )}}>
                    <div class="state-label" {{#if tooltips.disadvantage}}data-tooltip-direction="LEFT" data-tooltip="{{tooltips.disadvantage}}"{{/if}}>
                        <label>{{localize "IMPMAL.Disadvantage"}}</label>
                        <span class="state-value">{{disCount}}</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "IMPMAL.RollMode"}}</label>
                <div class="form-fields">
                    <select name="rollmode">
                        {{#select fields.rollmode}}
                            <option value="publicroll">{{localize "CHAT.RollPublic"}}</option>
                            <option value="gmroll">{{localize "CHAT.RollPrivate"}}</option>
                            <option value="blindroll">{{localize "CHAT.RollBlind"}}</option>
                            <option value="selfroll">{{localize "CHAT.RollSelf"}}</option>
                        {{/select}}
                    </select>
                </div>
            </div>
        </div>
        <div class="dialog-modifiers">
            <label>{{localize "IMPMAL.DialogModifiers"}}</label>
            <ul class="modifiers">
                {{#each scripts}}
                    <li class="modifier {{#if this.isActive}}active {{else if this.isHidden}}hidden{{/if}}" data-tooltip="{{this.effect.name}} {{#if this.options.dialog.targeter}}(Target){{/if}}" data-tooltip-direction="RIGHT" data-index="{{@key}}" >&#8226; <a>{{this.label}}</a></li>
                {{/each}}
            </ul>
        </div>

    </div>
    <button type="submit">{{localize "Roll"}}</button>
</form>