<div class="basic-fields">
<div class="form-group" {{#if tooltips.modifier}}data-tooltip-direction="LEFT" data-tooltip="{{tooltips.modifier}}"
    {{/if}}>
    <label>{{localize "IMPMAL.Modifier"}}</label>
    <div class="form-fields">
        <input type="number" value="{{fields.modifier}}" name="modifier">
    </div>
</div>
<div class="form-group" {{#if tooltips.SL}}data-tooltip-direction="LEFT" data-tooltip="{{tooltips.SL}}" {{/if}}>
    <label>{{localize "IMPMAL.SL"}}</label>
    <div class="form-fields">
        <input type="number" value="{{fields.SL}}" name="SL">
        {{#if showSuperiority}}
            <input type="checkbox" name="useSuperiority" {{checked fields.useSuperiority}}>
            <label>+{{localize "IMPMAL.Superiority"}}</label>
        {{/if}}
    </div>
</div>
<div class="form-group" {{#if tooltips.difficulty}}data-tooltip-direction="LEFT" data-tooltip="{{tooltips.difficulty}}"
    {{/if}}>
    <label>{{localize "IMPMAL.Difficulty"}}</label>
    <div class="form-fields">
        <select name="difficulty">
            {{#select fields.difficulty}}
                {{#each (config "difficulties")}}
                    <option value="{{@key}}">{{this.name}} ({{numberFormat this.modifier sign=true}})
                    </option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</div>
{{#if (gt data.actor.system.fate.value 0)}}
    <div class="form-group">
        <label>{{localize "IMPMAL.FateAdvantage"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="fateAdvantage" {{checked fields.fateAdvantage}}>
        </div>
    </div>
{{/if}}
</div>