<form>
    <div class="dialog-sections">

        <div class="dialog-fields">
            <div class="form-group">
                <label>{{localize "IMPMAL.Modifier"}}</label>
                <div class="form-fields">
                    <input type="number" value="{{fields.modifier}}" name="modifier">
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "IMPMAL.SL"}}</label>
                <div class="form-fields">
                    <input type="number" value="{{fields.SL}}" name="SL">
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "IMPMAL.Difficulty"}}</label>
                <div class="form-fields">
                    <select name="difficulty">
                        {{#select fields.difficulty}}
                            {{#each (config "difficulties")}}
                                <option value="{{@key}}">{{this.name}} ({{numberFormat this.modifier sign=true}})
                                </option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            {{{subTemplate}}}
            <div class="adv-dis">
                <div>
                    <input type="radio" name="state" value="adv" {{checked (eq fields.state "adv" )}}>
                    <label>{{localize "IMPMAL.Advantage"}} {{#if advCount}} ({{advCount}}) {{/if}}</label>
                </div>
                <div>
                    <input type="radio" name="state" value="none" {{checked (eq fields.state "none" )}}>
                    <label>{{localize "IMPMAL.Normal"}}</label>
                </div>
                <div>
                    <input type="radio" name="state" value="dis" {{checked (eq fields.state "dis" )}}>
                    <label>{{localize "IMPMAL.Disadvantage"}} {{#if disCount}} ({{disCount}}) {{/if}} </label>
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "IMPMAL.RollMode"}}</label>
                <div class="form-fields">
                    <select name="rollmode">
                        {{#select fields.rollmode}}
                            <option value="publicroll">{{localize "CHAT.RollPublic"}}</option>
                            <option value="gmroll">{{localize "CHAT.RollPrivate"}}</option>
                            <option value="blindroll">{{localize "CHAT.RollBlind"}}</option>
                            <option value="selfroll">{{localize "CHAT.RollSelf"}}</option>
                        {{/select}}
                    </select>
                </div>
            </div>
        </div>
        <div class="dialog-modifiers">
            <label>{{localize "IMPMAL.DialogModifiers"}}</label>
            <ul class="modifiers">
                {{#each scripts}}
                
                    <li class="modifier {{#if this.isActive}}active {{else if this.isHidden}}hidden{{/if}}" data-index="{{@key}}" ><a>{{this.label}}</a></li>
                {{/each}}
            </ul>
        </div>

    </div>
    <button type="submit">{{localize "Roll"}}</button>
</form>