<table class="characteristic-table">
    <tr>
        <th></th>
        {{#each system.characteristics}}
            <th>
                {{configLookup "characteristicAbbrev" @key}}
            </th>
        {{/each}}
    </tr>
    <tr>
        <td>{{localize "IMPMAL.Starting"}}</td>
        {{#each system.characteristics}}
            <td>
                <input type="number" name="system.characteristics.{{@key}}.starting" value="{{this.starting}}">
            </td>
        {{/each}}
    </tr>
    <tr>
        <td>{{localize "IMPMAL.Advances"}}</td>
        {{#each system.characteristics}}
            <td>
                <input type="number" name="system.characteristics.{{@key}}.advances" value="{{this.advances}}">
            </td>
        {{/each}}
    </tr>
    <tr>
        <td>{{localize "IMPMAL.Modifier"}}</td>
        {{#each system.characteristics}}
            <td>
                <input type="number" name="system.characteristics.{{@key}}.modifier" value="{{this.modifier}}">
            </td>
        {{/each}}
    </tr>
    <tr>
        <td>{{localize "IMPMAL.Total"}}</td>
        {{#each system.characteristics}}
            <td>
                <a class="roll" data-type="characteristic" data-key="{{@key}}">{{this.total}}</a>
            </td>
        {{/each}}
    </tr>
</table>

<div class="actor-properties">
    <div class="actor-property bounded">
        <label class="property-label">{{localize "IMPMAL.Augmetics"}}</label>
        <div class="property-value">
            <input type="number" name="system.augmetics.value" value="{{system.augmetics.value}}" disabled>
            <input type="number" name="system.augmetics.max" value="{{system.augmetics.max}}" disabled>
        </div>
    </div>
    <div class="actor-property">
        <label class="property-label">{{localize "IMPMAL.Initiative"}}</label>
        <div class="property-value">
            <input type="number" value="{{system.combat.initiative}}" name="system.combat.initiative" {{#if system.autoCalc.initiative}}disabled{{/if}}>
        </div>
    </div>

    <div class="actor-property bounded">
        <label class="property-label">{{localize "IMPMAL.Fate"}}</label>
        <div class="property-value">
            <input type="number" name="system.fate.value" value="{{system.fate.value}}">
            <input type="number" name="system.fate.max" value="{{system.fate.max}}">
        </div>
    </div>
    <div class="actor-property">
        <label class="property-label">{{localize "IMPMAL.Corruption"}}</label>
        <div class="property-value">
            <input type="number" name="system.corruption.value" value="{{system.corruption.value}}">
            {{log system.corruption}}
            <input type="number" name="system.corruption.max" value="{{system.corruption.max}}" {{#if system.autoCalc.corruption}}disabled{{/if}}>
        </div>
    </div>
        <div class="actor-property">
        <label class="property-label">{{localize "IMPMAL.Handed"}}</label>
        <select name="system.handed">
            {{#select system.handed}}
                <option value="right">{{localize "IMPMAL.Right"}}</option>
                <option value="left">{{localize "IMPMAL.Left"}}</option>
            {{/select}}
        </select>
    </div>

</div>

<div class="actor-properties">

    <div class="actor-property bounded">
        <label class="property-label">{{localize "IMPMAL.Wounds"}}</label>
        <div class="property-value">
            <input type="number" name="system.combat.wounds.value" value="{{system.combat.wounds.value}}">
            <input type="number" name="system.combat.wounds.max" value="{{system.combat.wounds.max}}" {{#if system.autoCalc.wounds}}disabled{{/if}}>
        </div>
    </div>

    <div class="actor-property bounded">
        <label class="property-label">{{localize "IMPMAL.CriticalWounds"}}</label>
        <div class="property-value">
            <input type="number" name="system.combat.criticals.value" value="{{system.combat.criticals.value}}" disabled>
            <input type="number" name="system.combat.criticals.max" value="{{system.combat.criticals.max}}" {{#if system.autoCalc.criticals}}disabled{{/if}}>
        </div>
    </div>

    <div class="actor-property flex2">
        <div class="xp property-value">
            <div>
                <label>{{localize "IMPMAL.XP"}}</label>
            </div>
            <div>
                <label>{{localize "IMPMAL.Available"}}</label>
                <input type="number" value="{{system.xp.available}}" disabled>
            </div>
            <div>
                <label>{{localize "IMPMAL.Spent"}}</label>
                <input type="number" value="{{system.xp.spent}}" disabled>
            </div>
            <div>
                <label>{{localize "IMPMAL.Total"}}</label>
                <input type="number" value="{{system.xp.total}}" name="system.xp.total">
            </div>
        </div>
    </div>
</div>


<div class="patron">
    {{#if system.patron.document}}
        <a class="remove-ref" data-path="system.patron"><i class="fa-solid fa-xmark"></i></a>
        <img src="{{tokenImg system.patron.document}}">
        <div class="details">
            {{#with system.patron.document as |patron|}}
                <label class="name">{{patron.name}}</label>
                <div>
                    <div class="group">
                        <label>{{localize "IMPMAL.Faction"}}</label>
                        <div>{{patron.system.faction.name}}</div>
                    </div>
                    <div class="group">
                        <label>{{localize "IMPMAL.Duty"}}</label>
                        <div>{{patron.system.duty.name}}</div>
                    </div>
                    <div class="group">
                        <label>{{localize "IMPMAL.Motivation"}}</label>
                        <div>{{patron.system.motivation}}</div>
                    </div>
                    <div class="group">
                        <label>{{localize "IMPMAL.Demeanor"}}</label>
                        <div>{{patron.system.demeanor}}</div>
                    </div>
                </div>
            {{/with}}
        </div>
    {{else}}
        <label class="missing">{{localize "IMPMAL.NoPatron"}}</label>
    {{/if}}
</div>


{{> systems/impmal/templates/actor/partials/influence.hbs factions=system.influence.factions path="system.influence" showNotes=true isCharacter=true}}