<div class="defending-against">
    <img src="{{tokenImg defendingAgainst.actor}}">
    <div class="attack-details">
        <label>{{localize "IMPMAL.DefendingAgainst"}}</label>
        <div class="gradient-border" style="width: 100%"></div>
        <div><span>{{tokenName defendingAgainst.actor}}</span><span>{{defendingAgainst.context.title}}</span><span>{{defendingAgainst.result.SL}} SL</span></div>
    </div>
    <a class="remove-opposed"><i class="fa-solid fa-xmark"></i></a>
</div>