<div class="form-group">
    <label>{{localize "IMPMAL.Damage"}}</label>
    <div class="form-fields">
        <input type="text" value="{{system.damage.value}}" name="system.damage.value">
        <select name="system.damage.characteristic">
            <option value=""></option>
            {{#each (config "characteristics")}}
                <option value="{{@key}}">{{this}}</option>
            {{/each}}
        </select>
        <label>{{localize "IMPMAL.ChBonus"}}</label>
    </div>
</div>