<div class="form-group">
    <label>{{localize "IMPMAL.Damage"}}</label>
    <div class="form-fields">
        <input type="text" value="{{system.damage.base}}" name="system.damage.base">
        +
        <select name="system.damage.characteristic">
            {{selectOptions (config "characteristicAbbrev") selected=system.damage.characteristic blank=""}}
        </select>
        {{#unless hideSL}}
            <input type="checkbox" name="system.damage.SL" {{checked system.damage.SL}}>
            <label class="{{#unless system.damage.SL}}inactive{{/unless}}">+SL</label>
        {{/unless}}
    </div>

</div>

<div class="form-group">
    <label>{{localize "IMPMAL.IgnoreAP"}}</label>
    <div class="form-fields">
        <input type="checkbox" name="system.damage.ignoreAP" {{checked system.damage.ignoreAP}}>
    </div>
</div>
