<header>
    <div class="item-image">
        {{item.typeLabel}}
        <img src="{{item.img}}" data-edit="img">
    </div>
    <div class="header-details">
        <div class="details-row name">
            <div class="detail-group">
                <input type="text" name="name" value="{{item.name}}">
            </div>
        </div>
        {{#if isPhysical}}
            <div class="details-row">
                <div class="detail-group">
                    <label>{{localize "IMPMAL.Qty."}}</label>
                    <input type="number" name="system.quantity" value="{{system.quantity}}">
                </div>
                <div class="detail-group">
                    <label>{{localize "IMPMAL.Cost"}}</label>
                    <input type="number" name="system.cost" value="{{system.cost}}">
                </div>
                <div class="detail-group">
                    <label>{{localize "IMPMAL.Enc."}}</label>
                    <div class="flexrow">
                        <input type="number" name="system.encumbrance.value" value="{{system.encumbrance.value}}">
                        {{!-- <input type="number" value="{{item.system.encumbrance.total}}" disabled> --}}
                    </div>
                </div>
                <div class="detail-group">
                    <label>{{localize "IMPMAL.Avail."}}</label>
                    <select name="system.availability">
                        {{#select system.availability}}
                            <option value=""></option>
                            {{#each (config "availability")}}
                                <option value="{{@key}}">{{this}}</option>
                            {{/each}}
                            <option value="other">{{localize "IMPMAL.Other"}}</option>
                        {{/select}}
                    </select>
                </div>
            </div>
        {{/if}}
    </div>
</header>