{{#unless hideSelf}}
<div class="form-group">
    <label data-tooltip="IMPMAL.SelfTestTT" data-tooltip-direction="LEFT">{{localize "IMPMAL.SelfTest"}}</label>
    <div class="form-fields">
        <input type="checkbox" name="{{path}}.self" {{checked data.self}}></input>
    </div>
</div>
{{/unless}}

<div class="form-group">
    <label>{{localize "IMPMAL.Difficulty"}}</label>
    <div class="form-fields">
        <select name="{{path}}.difficulty">
            {{#select data.difficulty}}
                <option value=""></option>
                {{#each (config "difficulties")}}
                    <option value="{{@key}}">{{this.name}} ({{numberFormat this.modifier
                        sign=true}})
                    </option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</div>


<div class="form-group">
    <label>{{localize "IMPMAL.Characteristic"}}</label>
    <div class="form-fields">
        <select name="{{path}}.characteristic">
            {{#select data.characteristic}}
                <option value=""></option>
                {{#each (config "characteristics")}}
                    <option value="{{@key}}">{{this}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</div>

<div class="form-group">
    <label>{{localize "IMPMAL.Skill"}}</label>
    <div class="form-fields">
        <select name="{{path}}.skill.key">
            {{#select data.skill.key}}
                <option value=""></option>
                {{#each (config "skills")}}
                    <option value="{{@key}}">{{this}}</option>
                {{/each}}
            {{/select}}
        </select>
        <input type="text" name="{{path}}.skill.specialisation" value="{{data.skill.specialisation}}" placeholder="{{localize 'IMPMAL.Specialisation'}}">
    </div>
</div>