<header>
    <div class="item-image">
        <img src="{{item.img}}">
        Label
    </div>
    <div class="header-detalis">
        <div class="details-row">
            <div class="detail-group">
                <h3><input type="text" name="name" value="{{item.name}}"></h3>
            </div>
        </div>
        {{#if isPhysical}}
            <div class="details-row">
                <div class="detail-group">
                    <label>{{localize "IMPMAL.Qty."}}</label>
                    <input type="text" name="{{system.quantity}}" value="{{system.quantity}}">
                </div>
                <div class="detail-group">
                    <label>{{localize "IMPMAL.Encumbrance"}}</label>
                    <input type="text" name="{{system.encumbrance}}" value="{{system.encumbrance}}">
                </div>
                <div class="detail-group">
                    <label>{{localize "IMPMAL.Cost"}}</label>
                    <input type="text" name="{{system.cost}}" value="{{system.cost}}">
                </div>
                <div class="detail-group">
                    <label>{{localize "IMPMAL.Avail."}}</label>
                    <select name="system.availability">
                        <option value=""></option>
                        {{#each (config "availability")}}
                        <option value="{{@key}}">{{this}}</option>
                        {{/each}}
                        <option value="other">{{localize "IMPMAL.Other"}}</option>
                    </select>
                </div>
            </div>
        {{/if}}
    </div>
</header>