
<div class="conditions">
    <div class="flexrow">
        {{#each conditions}}
            <div class="condition">
                <img style="opacity : {{this.opacity}}%" class="{{this.existing.flags.impmal.type}}" src="{{this.icon}}" width="50" height="50">
                <div class="pips">
                    {{#each this.pips}}
                        <div class="pip {{#if this.filled}}filled{{/if}}" data-type="{{this.type}}" data-key="{{../this.id}}">

                        </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
</div>


<section class="list">
    <header class="list-row">
        <div class="list-name">{{localize "IMPMAL.Effects"}}</div>
        <div class="list-controls">
            <a class="list-create" data-type="effect"><i class="fa-solid fa-plus"></i></a>
        </div>
    </header>
    <div class="list-content">
        {{#each item.effects}}
            <div class="list-item" data-id="{{this.id}}" data-collection="effects">
                <div class="list-row">
                    <div class="list-name">
                        <img src="{{this.icon}}">
                        <a class="list-edit">{{this.name}}</a>
                    </div>
                    <div class="list-controls">
                        <a class="list-delete"><i class="fa-solid fa-xmark"></i></a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>