<div class="flexrow">

<div class="conditions">
        {{#each conditions}}
            <div class="condition">
                <label>{{this.name}}</label>
                <div class="pips">
                    {{#each this.pips}}
                        <div class="pip {{#if this.filled}}filled{{/if}}" data-type="{{this.type}}"
                            data-key="{{../this.id}}">

                        </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
</div>

<section class="list">
    <header class="list-row">
        <div class="list-name">{{localize "IMPMAL.Effects"}}</div>
        <div class="list-controls">
            <a class="list-create" data-type="effect"><i class="fa-solid fa-plus"></i></a>
        </div>
    </header>
    <div class="list-content">
        {{#each item.effects}}
            <div class="list-item {{#if this.disabled}}inactive{{/if}}" data-id="{{this.id}}" data-collection="effects">
                <div class="list-row">
                    <div class="list-name">
                        <img src="{{this.icon}}">
                        <a class="list-edit">{{this.name}}</a>
                    </div>
                    <div class="list-controls">
                        {{#if this.disabled}}
                            <a class="list-toggle"><i class="fa-regular fa-circle"></i></a>
                        {{else}}
                            <a class="list-toggle"><i class="fa-regular fa-circle-check"></i></a>
                        {{/if}}
                        <a class="list-delete"><i class="fa-solid fa-xmark"></i></a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>

{{#if item.system.ammo.document.effects.contents.length}}
<section class="list">
    <header class="list-row">
        <div class="list-name">{{localize "IMPMAL.AmmoEffects"}}</div>
    </header>
    <div class="list-content">
        {{#each item.system.ammo.document.effects.contents}}
            <div class="list-item" data-id="{{this.id}}" data-collection="effects">
                <div class="list-row">
                    <div class="list-name">
                        <img src="{{this.icon}}">
                        <div>{{this.name}}</div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>
{{/if}}

{{#if modificationEffects.length}}
<section class="list">
    <header class="list-row">
        <div class="list-name">{{localize "IMPMAL.ModificationEffects"}}</div>
    </header>
    <div class="list-content">
        {{#each modificationEffects}}
            <div class="list-item" data-id="{{this.id}}" data-collection="effects">
                <div class="list-row">
                    <div class="list-name">
                        <img src="{{this.icon}}">
                        <div>{{this.name}}</div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>
{{/if}}

{{#if effectsFromActor.length}}
<section class="list">
    <header class="list-row">
        <div class="list-name">{{localize "IMPMAL.EffectsFromActor"}}</div>
    </header>
    <div class="list-content">
        {{#each effectsFromActor}}
            <div class="list-item" data-id="{{this.id}}" data-collection="effects">
                <div class="list-row">
                    <div class="list-name">
                        <img src="{{this.icon}}">
                        <div>{{this.name}}</div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>
{{/if}}
</div>
