<div class="list-columns">
    <section class="list">
        <header class="list-row">
            <div class="list-name">{{localize "IMPMAL.Boons"}}</div>
            <div class="list-controls">
                <a class="list-create" data-type="boonLiability" data-category="boon"><i
                        class="fa-solid fa-plus"></i></a>
            </div>
        </header>
        <div class="list-content">
            {{#each items.boonLiability}}
                {{#if (eq this.system.category "boon")}}
                    <div class="list-item" data-id="{{this.id}}" data-collection="items" data-item-id="{{this.id}}">
                        <div class="list-row">
                            <div class="list-name list-edit">
                                <img src="{{this.img}}">
                                <a>{{this.name}}</a>
                            </div>
                            {{#unless this.system.visible}}
                                <a><i class="fa-solid fa-eye-slash"></i></a>
                            {{/unless}}
                            <div class="list-controls">
                                <a class="list-post"><i class="fa-solid fa-comment"></i></a>
                                <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>
                        <div class="summary">
                            {{#if (isGM)}}
                                {{{this.system.notes.gm}}}
                            {{/if}}
                            {{{this.system.notes.player}}}
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </section>
    <section class="list">
        <header class="list-row">
            <div class="list-name">{{localize "IMPMAL.Liabilities"}}</div>
            <div class="list-controls">
                <a class="list-create" data-type="boonLiability" data-category="liability"><i
                        class="fa-solid fa-plus"></i></a>
            </div>
        </header>
        <div class="list-content">
            {{#each items.boonLiability}}
                {{#if (eq this.system.category "liability")}}
                    <div class="list-item" data-id="{{this.id}}" data-collection="items" data-item-id="{{this.id}}">
                        <div class="list-row">
                            <div class="list-name list-edit">
                                <img src="{{this.img}}">
                                <a>{{this.name}}</a>
                            </div>
                            {{#unless this.system.visible}}
                                <a><i class="fa-solid fa-eye-slash"></i></a>
                            {{/unless}}
                            <div class="list-controls">
                                <a class="list-post"><i class="fa-solid fa-comment"></i></a>
                                <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>
                        <div class="summary">
                            {{#if (isGM)}}
                                {{{this.system.notes.gm}}}
                            {{/if}}
                            {{{this.system.notes.player}}}
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </section>
</div>

{{> systems/impmal/templates/actor/partials/influence.hbs factions=system.influence.factions path="system.influence" showNotes=true}}
