<p><strong>{{localize "IMPMAL.WarpChargeGained"}}</strong>: {{context.warpAdded}} {{#if context.pushRoll}} + {{context.pushRoll}} {{/if}}

{{#if showOpposed}}
    <button class="roll" data-type="item" data-uuid="{{item.uuid}}">{{item.system.opposed.label}}</button>
{{/if}}