<p><strong>{{localize "IMPMAL.WarpChargeGained"}}</strong>: {{context.other.warpAdded}} {{#if context.pushRoll}} + {{context.pushRoll}} {{/if}}

{{#if succeeded}}
    {{#if item.system.opposed.isValid}}
        <button class="roll" data-type="item" data-uuid="{{item.uuid}}">{{item.system.opposed.label}}</button>
    {{/if}}
{{/if}}