<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
    {{formGroup fields.cost value=system.cost label="IMPMAL.Cost" localize=true}}
    {{#if (isGM)}}
    <div class="editor-section list-row">
        <div class="header" data-action="expandRow">{{localize "IMPMAL.GMNotes"}}</div>
        <div class="dropdown-content expanded">
            {{formInput fields.notes.fields.gm value=source.system.notes.gm enriched=enriched.system.notes.gm toggled=true}}
        </div>
    </div>
    {{/if}}

    <div class="editor-section list-row">
        <div class="header" data-action="expandRow">{{localize "IMPMAL.Biography"}}</div>
        <div class="dropdown-content expanded">
            {{formInput fields.notes.fields.player value=source.system.notes.player enriched=enriched.system.notes.player toggled=true}}
        </div>
    </div>
</section>