    {{#each tree.options}}
        <div class="choice {{this.type}} {{#if this.chosen}}chosen{{/if}} {{#if this.invalid}}invalid{{/if}}" data-id="{{this.id}}" data-action="chooseOption">
        {{#if (eq this.type "option")}}
                    {{this.content.name}}
        {{else}}
            {{> choiceTree tree=this label=this.type}}
        {{/if}}
        </div>
        <label class="connector">{{../label}}</label>
    {{/each}}