<div class="defending-against">
    <img src="{{tokenImg data.actor}}">
    <div class="attack-details">
        <label>{{localize "IMPMAL.DefendingAgainst"}}</label>
        <div class="gradient-border" style="width: 100%"></div>
        <div><span>{{tokenName data.actor}}</span><span>{{data.context.title}}</span><span>{{data.result.SL}} {{localize "IMPMAL.SL"}}</span></div>
    </div>
    <a class="remove-opposed" data-action="removeOpposed"><i class="fa-solid fa-xmark"></i></a>
</div>