 <div class="sheet-list influence">
        <div class="list-header row-content">
            <div class="flex">{{localize "IMPMAL.Faction"}}</div>
            <div class="flex">{{localize "IMPMAL.Infl"}}</div>
            {{#if showNotes}}
                <div class="flex large">{{localize "IMPMAL.NotesContacts"}}</div>
            {{/if}}
            <div class="list-controls">
                {{#if isCharacter}}
                    {{#if system.influence.usePatron}}
                        <a class="list-control" data-action="toggleProperty" data-tooltip="{{localize 'IMPMAL.UsePatronInfluence'}}" data-path="system.influence.usePatron"><i class="fas fa-handshake-angle"></i></a>
                    {{else}}
                        <a class="list-control inactive" data-action="toggleProperty" data-tooltip="{{localize 'IMPMAL.UsePatronInfluence'}}" data-path="system.influence.usePatron"><i class="fas fa-handshake-angle"></i></a>
                    {{/if}}
                {{/if}}
                <a class="list-control" data-action="createFaction" data-path="{{path}}"><i class="fa-solid fa-plus"></i></a>
            </div>
        </div>
        <div class="list-content">
            {{#each factions}}
                <div class="list-row" data-key="{{@key}}">
                    <div class="row-content">
                        <div class="flex">
                            <a data-action="expandFaction">{{this.name}}</a>
                        </div>
                        <div class="small">
                            <input type="number" value="{{this.total}}" disabled>
                        </div>

                        {{#if ../showNotes}}
                            <div class="flex large">
                                <input type="text" name="{{../path}}.factions.{{@key}}.notes" {{#if this.patron}}disabled{{/if}} value="{{this.notes}}">
                            </div>
                        {{/if}}
                        <div class="list-controls">
                            <a class="list-control" data-action="deleteFaction" data-path="{{../path}}"><i class="fa-solid fa-xmark"></i></a>
                        </div>
                    </div>
                    <div class="{{#if (lookup ../factionsExpanded @key)}}expanded{{else}}collapsed{{/if}} influence-sources dropdown-content">
                    <div class="dropdown-container">
                    {{#each this.items}}
                        <div class="source row-content">
                            <div class="flex"></div>
                            <div class="small">
                                <input type="number" disabled data-property="value" value="{{this.value}}">
                            </div>
                            <div class="flex large">
                                <input type="text" disabled data-property="reason" value="{{this.reason}}">
                            </div>
                        </div>
                    {{/each}}
                    {{#each this.effects}}
                        <div class="source row-content">
                            <div class="flex"></div>
                            <div class="small">
                                <input type="number" disabled data-property="value" value="{{this.value}}">
                            </div>
                            <div class="flex large">
                                <input type="text" disabled data-property="reason" value="{{this.reason}}">
                            </div>
                        </div>
                    {{/each}}
                    {{#each this.sources}}
                        <div class="source row-content {{#if ../this.patron}}disabled inactive{{/if}}" data-index="{{@key}}">
                            <a class="flex" data-action="deleteSource"><i class="fa-solid fa-xmark"></i></a>
                            <div class="small">
                                <input type="number" data-saction="editSource" data-property="value" value="{{this.value}}">
                            </div>
                            <div class="flex large">
                                <input type="text" data-saction="editSource" data-property="reason" value="{{this.reason}}">
                            </div>
                        </div>
                    {{/each}}
                    {{#unless this.patron}}
                    <button type="button" data-action="createSource"><i class="fa-solid fa-plus"></i> Add Source</button>
                    {{/unless}}
                    </div>
                    </div>
                </div>
            {{/each}}
        </div>
</section>