 <div class="sheet-list influence">
        <div class="list-header row-content">
            <div class="flex">{{localize "IMPMAL.Faction"}}</div>
            <div class="small">{{localize "IMPMAL.Infl"}}</div>
            <div class="list-controls">
                <a class="list-control" data-action="createFaction" data-path="{{path}}"><i class="fa-solid fa-plus"></i></a>
            </div>
        </div>
        <div class="list-content">
            {{#each factions}}
                <div class="list-row" data-key="{{@key}}">
                    <div class="row-content">
                        <div class="flex">
                            {{this.name}}
                        </div>
                        <div class="small">
                            <input type="number" name="{{../path}}.factions.{{@key}}.value" value="{{this.value}}">
                        </div>
                    <div class="list-controls">
                        <a class="list-control" data-action="deleteFaction" data-path="{{../path}}"><i class="fa-solid fa-xmark"></i></a>
                    </div>
                    </div>
                </div>
            {{/each}}
        </div>
 </div>