{{#if this.system.slots.list.length}}
<div class="slots">
    {{#each this.system.slots.list}}
        <div class="slot {{#unless this.document}}empty{{/unless}}" data-index="{{@key}}" {{#unless this.document}}data-tooltip="Drag and drop an Item to consider it Equipped"{{/unless}}>
            <div class="slot-details" data-id="{{this.id}}">
                {{#if this.document}}
                    <img src="{{document.img}}"/>
                    <a class="slotted-item">{{document.name}}</a>
                {{else}}
                    <label>Empty</label>
                {{/if}}
            </div>
                {{#if this.document}}
                <a class="slot-remove"><i class="fa-solid fa-xmark"></i></a>
                {{/if}}
        </div>
    {{/each}}
</div>
{{/if}}