<section class="list crew" data-position="crew">
    <header class="list-row">
        <div class="list-name">{{localize "IMPMAL.Crew"}}</div>
    </header>
    <div class="list-content">
        {{#each actor.system.crew.actors}}
            <div class="list-item" data-uuid="{{this.uuid}}">
                <div class="list-row">
                    <div class="list-name">
                        <img src="{{tokenImg this}}">
                        <a class="actor-edit">{{this.name}}</a>
                    </div>
                    <div class="list-controls">
                        <a class="actor-delete"><i class="fa-solid fa-xmark"></i></a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>

<section class="list passengers" data-position="passengers">
    <header class="list-row">
        <div class="list-name">{{localize "IMPMAL.Passengers"}}</div>
    </header>
    <div class="list-content">
        {{#each actor.system.passengers.actors}}
            <div class="list-item" data-uuid="{{this.uuid}}">
                <div class="list-row">
                    <div class="list-name">
                        <img src="{{tokenImg this}}">
                        <a class="actor-edit">{{this.name}}</a>
                    </div>
                    <div class="list-controls">
                        <a class="actor-delete"><i class="fa-solid fa-xmark"></i></a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>
