<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
    <div class="sheet-list talent">
        <div class="list-header row-content">
            <div class="list-name">{{localize "IMPMAL.Talent"}} <a class="sort-items" data-action="sortItems"
                    data-tooltip="{{localize 'SHEET.SortItems'}}" data-type="talent"><i
                        class="fas fa-sort-alpha-down"></i></a></div>
            <div>{{localize "IMPMAL.TimesTaken"}}</div>
            <div class="list-controls">
                <div class="list-controls">
                    <a class="list-control" data-action="createItem" data-type="talent"><i
                            class="fa-solid fa-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="list-content">
            {{#each items.talent}}
                <div class="list-row" data-uuid="{{this.uuid}}">
                    <div class="row-content">
                        <div class="list-name rollable">
                            <img src="{{this.img}}" data-action="useItem">
                            <a class="label collapsed" data-action="toggleSummary">{{this.name}}</a>
                        </div>
                        <div>{{this.system.taken}}</div>
                        <div class="list-controls">
                            <a class="list-control context-menu"><i class="fa-regular fa-ellipsis-vertical"></i></a>
                        </div>
                    </div>
                    {{#if this.system.advancedEffects.length}}
                        <div class="advanced-effects">
                            {{#each this.system.advancedEffects}}
                                <a class="editEmbedded" data-uuid="{{this.uuid}}">{{this.name}}</a>
                            {{/each}}
                        </div>
                    {{/if}}
                    {{> sheetButtons document=this}}
                    <div class="dropdown-content collapsed">

                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="sheet-list">
        <div class="list-header row-content">
            <div class="list-name">{{localize "IMPMAL.Corruption"}}</div>
            <div class="list-controls">
                {{!-- <a class="list-control" data-action="sortItems" data-tooltip="{{localize 'SHEET.SortItems'}}" data-type="injury"><i class="fas fa-sort-alpha-down"></i></a> --}}
                <a class="list-control" data-action="createItem" data-type="corruption"><i class="fas fa-plus"></i></a>
            </div>
        </div>
        <div class="list-content">
            {{#each items.corruption}}
                <div class="list-row" data-uuid="{{this.uuid}}">
                    <div class="row-content">
                        <div class="list-name">
                            <img src="{{this.img}}">
                            <a class="label" data-action="toggleSummary">{{this.name}}</a>
                        </div>

                        <div class="list-controls">
                            <a class="list-control context-menu"><i class="fa-regular fa-ellipsis-vertical"></i></a>
                        </div>
                    </div>
                    {{> actorSlots}}
                    {{> sheetButtons document=this}}
                    <div class="dropdown-content collapsed">

                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">