<div class="flexrow">

    <div class="actor-property inline">
        <label class="property-label">{{localize "IMPMAL.Solars"}}</label>
        <div class="property-value">
            <input type="number" value="{{system.solars}}" name="system.solars">
        </div>
    </div>

    <div class="bar-section">
        <div class="bar-container">
            <div class="threshold" style="margin-left: {{pct system.encumbrance.overburdened system.encumbrance.restrained}}%"></div>
            <div class="bar state{{system.encumbrance.state}}" style="width : {{pct system.encumbrance.value system.encumbrance.restrained}}%"></div>
        </div>
    </div>
</div>
<section class="list">
    <header class="list-row">
        <div class="list-name">{{localize "IMPMAL.Weapon"}}</div>
        <div class="small">{{localize "IMPMAL.Eqp."}}</div>
        <div class="small">{{localize "IMPMAL.Qty."}}</div>
        <div class="small">{{localize "IMPMAL.Enc."}}</div>
        <div class="list-controls">
            <a class="list-create" data-type="weapon"><i class="fa-solid fa-plus"></i></a>
        </div>
    </header>
    <div class="list-content">
        {{#each items.weapon}}
            <div class="list-item" data-id="{{this.id}}" data-item-id="{{this.id}}">
                <div class="list-row">
                    <div class="list-name">
                        <img src="{{this.img}}">
                        <a class="list-edit list-summary-context">{{this.name}}</a>
                    </div>
                    <div class="small">
                        {{#if (eq ../actor.type "character")}}
                        
                            {{#if this.system.equipped.hands.left}}
                                <a class="equip {{#if this.system.equipped.offhand}}offhand{{/if}}" data-hand="left" data-target="system.equipped.value"><i class="fa-solid fa-hand"></i></a>
                            {{else}}
                                <a class="equip" data-hand="left" data-target="system.equipped.value"><i class="fa-regular fa-hand"></i></a>
                            {{/if}}

                            {{#if this.system.equipped.hands.right}}
                                <a class="equip {{#if this.system.equipped.offhand}}offhand{{/if}}" data-hand="right" data-target="system.equipped.value"><i class="fa-solid fa-hand"></i></a>
                            {{else}}
                                <a class="equip" data-hand="right" data-target="system.equipped.value"><i class="fa-regular fa-hand"></i></a>
                            {{/if}}

                            {{#if (and ../system.hands.left.document ../system.hands.right)}}
                            <a class="equip" data-id="{{this.id}}" data-hand="other">
                                {{#if this.system.equipped.value}}
                                    <i class="fa-regular fa-circle-check"></i>
                                {{else}}
                                    <i class="fa-regular fa-circle"></i>
                                {{/if}}
                            </a>
                            {{/if}}

                        {{else}}
                            <a class="property-toggle" data-id="{{this.id}}" data-target="system.equipped.value">
                                {{#if this.system.equipped.value}}
                                    <i class="fa-regular fa-circle-check"></i>
                                {{else}}
                                    <i class="fa-regular fa-circle"></i>
                                {{/if}}
                            </a>
                        {{/if}}
                    </div>
                    <a class="small inc-dec">{{this.system.quantity}}</a>
                    <div class="small">{{this.system.encumbrance.total}}</div>
                    <div class="list-controls">
                        <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>
                {{> sheetButtonsV1 document=this}}
                <div class="summary">

                </div>
            </div>
        {{/each}}
    </div>
</section>

<section class="list">
    <header class="list-row">
        <div class="list-name">{{localize "IMPMAL.Ammo"}}</div>
        <div class="small">{{localize "IMPMAL.Qty."}}</div>
        <div class="small">{{localize "IMPMAL.Enc."}}</div>
        <div class="list-controls">
            <a class="list-create" data-type="ammo"><i class="fa-solid fa-plus"></i></a>
        </div>
    </header>
    <div class="list-content">
        {{#each items.ammo}}
            <div class="list-item" data-id="{{this.id}}" data-item-id="{{this.id}}">
                <div class="list-row">
                    <div class="list-name">
                        <img src="{{this.img}}">
                        <a class="list-edit list-summary-context">{{this.name}}</a>
                    </div>
                    <a class="small inc-dec">{{this.system.quantity}}</a>
                    <div class="small">{{this.system.encumbrance.total}}</div>
                    <div class="list-controls">
                        <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>
                {{> sheetButtonsV1 document=this}}
                <div class="summary">

                </div>
            </div>
        {{/each}}
    </div>
</section>

<section class="list">
    <header class="list-row">
        <div class="list-name">{{localize "IMPMAL.Modification"}}</div>
        <div class="small">{{localize "IMPMAL.Qty."}}</div>
        <div class="small">{{localize "IMPMAL.Enc."}}</div>
        <div class="list-controls">
            <a class="list-create" data-type="modification"><i class="fa-solid fa-plus"></i></a>
        </div>
    </header>
    <div class="list-content">
        {{#each items.modification}}
            <div class="list-item" data-id="{{this.id}}" data-item-id="{{this.id}}">
                <div class="list-row">
                    <div class="list-name">
                        <img src="{{this.img}}">
                        <a class="list-edit list-summary-context">{{this.name}}</a>
                    </div>
                    <a class="small inc-dec">{{this.system.quantity}}</a>
                    <div class="small">{{this.system.encumbrance.total}}</div>
                    <div class="list-controls">
                        <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>
                {{> sheetButtonsV1 document=this}}
                <div class="summary">

                </div>
            </div>
        {{/each}}
    </div>
</section>

<section class="list">
    <header class="list-row">
        <div class="list-name">{{localize "IMPMAL.Protection"}}</div>
        <div class="small">{{localize "IMPMAL.Eqp."}}</div>
        <div class="small">{{localize "IMPMAL.Qty."}}</div>
        <div class="small">{{localize "IMPMAL.Enc."}}</div>
        <div class="list-controls">
            <a class="list-create" data-type="protection"><i class="fa-solid fa-plus"></i></a>
        </div>
    </header>
    <div class="list-content">
        {{#each items.protection}}
            <div class="list-item" data-id="{{this.id}}" data-item-id="{{this.id}}">
                <div class="list-row">
                    <div class="list-name">
                        <img src="{{this.img}}">
                        <a class="list-edit list-summary-context">{{this.name}}</a>
                    </div>
                    <div class="small">
                        <a class="property-toggle" data-id="{{this.id}}" data-target="system.equipped.value">
                            {{#if this.system.equipped.value}}
                                <i class="fa-regular fa-circle-check"></i>
                            {{else}}
                                <i class="fa-regular fa-circle"></i>
                            {{/if}}
                        </a>
                    </div>
                    <a class="small inc-dec">{{this.system.quantity}}</a>
                    <div class="small">{{this.system.encumbrance.total}}</div>
                    <div class="list-controls">
                        <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>
                {{> sheetButtonsV1 document=this}}
                <div class="summary">

                </div>
            </div>
        {{/each}}
    </div>
</section>

<section class="list">
    <header class="list-row">
        <div class="list-name">{{localize "IMPMAL.Forcefield"}}</div>
        <div class="small">{{localize "IMPMAL.Eqp."}}</div>
        <div class="small">{{localize "IMPMAL.Qty."}}</div>
        <div class="small">{{localize "IMPMAL.Enc."}}</div>
        <div class="list-controls">
            <a class="list-create" data-type="forceField"><i class="fa-solid fa-plus"></i></a>
        </div>
    </header>
    <div class="list-content">
        {{#each items.forceField}}
            <div class="list-item" data-id="{{this.id}}" data-item-id="{{this.id}}">
                <div class="list-row">
                    <div class="list-name" {{#if this.system.overload.collapsed}}style="color: darkred"{{/if}}>
                        <img src="{{this.img}}">
                        <a class="list-edit list-summary-context">{{this.name}}</a>
                    </div>
                    <div class="small">
                        <a class="property-toggle" data-id="{{this.id}}" data-target="system.equipped.value">
                            {{#if this.system.equipped.value}}
                                <i class="fa-regular fa-circle-check"></i>
                            {{else}}
                                <i class="fa-regular fa-circle"></i>
                            {{/if}}
                        </a>
                    </div>
                    <a class="small inc-dec">{{this.system.quantity}}</a>
                    <div class="small">{{this.system.encumbrance.total}}</div>
                    <div class="list-controls">
                        <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>
                {{> sheetButtonsV1 document=this}}
                <div class="summary">

                </div>
            </div>
        {{/each}}
    </div>
</section>

<section class="list">
    <header class="list-row">
        <div class="list-name">{{localize "IMPMAL.Equipment"}}</div>
        <div class="small">{{localize "IMPMAL.Eqp."}}</div>
        <div class="small">{{localize "IMPMAL.Qty."}}</div>
        <div class="small">{{localize "IMPMAL.Enc."}}</div>
        <div class="list-controls">
            <a class="list-create" data-type="equipment"><i class="fa-solid fa-plus"></i></a>
        </div>
    </header>
    <div class="list-content">
        {{#each items.equipment}}
            <div class="list-item" data-id="{{this.id}}" data-item-id="{{this.id}}">
                <div class="list-row">
                    <div class="list-name">
                        <img src="{{this.img}}">
                        <a class="list-edit list-summary-context">{{this.name}}</a>
                    </div>
                    <div class="small">
                        <a class="property-toggle" data-id="{{this.id}}" data-target="system.equipped.value">
                            {{#if this.system.equipped.value}}
                                <i class="fa-regular fa-circle-check"></i>
                            {{else}}
                                <i class="fa-regular fa-circle"></i>
                            {{/if}}
                        </a>
                    </div>
                    <a class="small inc-dec">{{this.system.quantity}}</a>
                    <div class="small">{{this.system.encumbrance.total}}</div>
                    <div class="list-controls">
                        <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>
                {{> sheetButtonsV1 document=this}}
                <div class="summary">

                </div>
            </div>
        {{/each}}
    </div>
</section>

<section class="list">
    <header class="list-row">
        <div class="list-name">{{localize "IMPMAL.Augmetic"}}</div>
        <div class="small">{{localize "IMPMAL.Eqp."}}</div>
        <div class="small">{{localize "IMPMAL.Qty."}}</div>
        <div class="small">{{localize "IMPMAL.Enc."}}</div>
        <div class="list-controls">
            <a class="list-create" data-type="augmetic"><i class="fa-solid fa-plus"></i></a>
        </div>
    </header>
    <div class="list-content">
        {{#each items.augmetic}}
            <div class="list-item" data-id="{{this.id}}" data-item-id="{{this.id}}">
                <div class="list-row">
                    <div class="list-name">
                        <img src="{{this.img}}">
                        <a class="list-edit list-summary-context">{{this.name}}</a>
                    </div>
                    <div class="small">
                        <a class="property-toggle" data-id="{{this.id}}" data-target="system.equipped.value">
                            {{#if this.system.equipped.value}}
                                <i class="fa-regular fa-circle-check"></i>
                            {{else}}
                                <i class="fa-regular fa-circle"></i>
                            {{/if}}
                        </a>
                    </div>
                    <a class="small inc-dec">{{this.system.quantity}}</a>
                    <div class="small">{{this.system.encumbrance.total}}</div>
                    <div class="list-controls">
                        <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>
                {{> sheetButtonsV1 document=this}}
                <div class="summary">

                </div>
            </div>
        {{/each}}
    </div>
</section>