<div class="flexrow">
    <div class="actor-property inline">
        <label class="property-label">{{localize "IMPMAL.Initiative"}}</label>
        <div class="property-value">
            <input type="number" value="{{system.initiative}}" disabled>
        </div>
    </div>
    <div class="actor-property inline">
        <label class="property-label">{{localize "IMPMAL.Reflexes"}}</label>
        <div class="property-value">
            <input type="number" value="{{system.skills.reflexes}}" disabled>
        </div>
    </div>
    <div class="actor-property inline">
        {{#if (eq actor.type "character")}}
            <label class="property-label">{{localize "IMPMAL.Superiority"}}</label>
            <div class="property-value">
                <input type="number" value="{{system.combat.superiority}}" name="system.combat.superiority">
            </div>
        {{else if (eq actor.type "npc")}}
            <label class="property-label">{{localize "IMPMAL.Resolve"}}</label>
            <div class="property-value">
                <input type="number" value="{{system.combat.resolve}}" name="system.combat.resolve">
            </div>
        {{/if}}
    </div>
    <div class="actor-property inline">
        <label class="property-label">{{localize "IMPMAL.Size"}}</label>
        <div class="property-value">
            <select name="system.combat.size">
                {{#select system.combat.size}}
                    {{#each (config "sizes")}}
                        <option value="{{@key}}">{{this}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </div>
    <div class="actor-property inline">
        <label class="property-label">{{localize "IMPMAL.Speed"}}</label>
        <div class="property-value">
            <input type="text" value="{{system.combat.speed}}" disabled>
        </div>
    </div>
</div>

<section class="list">
    <header class="list-row">
        <div class="list-name">{{localize "IMPMAL.MeleeWeapons"}}</div>
        <div>{{localize "IMPMAL.Specialisation"}}</div>
        <div>{{localize "IMPMAL.Damage"}}</div>
    </header>
    <div class="list-content">
        {{#each items.equipped.melee}}
            <div class="list-item" data-id="{{this.id}}">
                <div class="list-row">
                    <div class="list-name">
                        <img class="roll" data-type="weapon" data-item-id="{{this.id}}" src="{{this.img}}">
                        <a>{{this.name}}</a>
                        {{#if (eq ../actor.type "character")}}
                        <div class="grip">
                            {{#if this.system.equipped.hands.left}}
                                <span {{#if this.system.equipped.offhand}}class="offhand"{{/if}} data-hand="left"><i class="fa-solid fa-hand"></i></span>
                            {{/if}}
                            {{#if this.system.equipped.hands.right}}
                                <span {{#if this.system.equipped.offhand}}class="offhand"{{/if}}  data-hand="right"><i class="fa-solid fa-hand"></i></span>
                            {{/if}}
                        </div>
                        {{/if}}
                    </div>
                    <div>{{this.system.specialisation}}</div>
                    <div>{{this.system.damage.value}}</div>
                </div>
                <div class="weapon-traits">
                    <label>{{localize 'IMPMAL.Traits'}}: </label>
                    <div class="trait-list">
                        {{this.system.traits.displayString}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>

<section class="list">
    <header class="list-row">
        <div class="list-name">{{localize "IMPMAL.RangedWeapons"}}</div>
        <div>{{localize "IMPMAL.Specialisation"}}</div>
        <div>{{localize "IMPMAL.Damage"}}</div>
        <div>{{localize "IMPMAL.Range"}}</div>
        <div>{{localize "IMPMAL.Ammo"}}</div>
    </header>
    <div class="list-content">
        {{#each items.equipped.ranged}}
            <div class="list-item" data-id="{{this.id}}">
                <div class="list-row">
                    <div class="list-name">
                        <img class="roll" data-type="weapon" data-item-id="{{this.id}}" src="{{this.img}}">
                        <a>{{this.name}}</a>
                        {{#if (eq ../actor.type "character")}}
                        <div class="grip">
                            {{#if this.system.equipped.hands.left}}
                                <span  {{#if this.system.equipped.offhand}}class="offhand"{{/if}} data-hand="left"><i class="fa-solid fa-hand"></i></span>
                            {{/if}}
                            {{#if this.system.equipped.hands.right}}
                                <span  {{#if this.system.equipped.offhand}}class="offhand"{{/if}} data-hand="right"><i class="fa-solid fa-hand"></i></span>
                            {{/if}}
                        </div>
                        {{/if}}
                    </div>
                    <div>{{this.system.specialisation}}</div>
                    <div>{{this.system.damage.value}}</div>
                    <div>{{configLookup "ranges" this.system.range}}</div>
                    <div>
                        <select class="ammo-selector">
                            {{#select this.system.ammo.id}}
                                <option value=""></option>
                                {{#each ../this.items.ammo}}
                                    <option value="{{this.id}}">{{this.name}} ({{this.system.quantity}})</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>
                <div class="weapon-traits">
                    <div class="mag">
                        <label>{{localize "IMPMAL.Mag"}}:</label>
                        <div class="values">
                            <div class="current">{{this.system.mag.current}}</div>
                            <div>/</div>
                            <div class="value">{{this.system.mag.value}}</div>
                        </div>
                        {{#if (lt this.system.mag.current this.system.mag.value)}}
                            <a class="reload">Reload</a>
                        {{/if}}
                    </div>
                    <label>{{localize 'IMPMAL.Traits'}}: </label>
                    <div class="trait-list">
                        {{this.system.traits.displayString}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>

<section class="hit-locations">
    {{#each hitLocations}}
        <div class="location">
            <label>{{localize this.label}}</label>
            <label>{{localize "IMPMAL.Armour"}}: {{this.armour}}</label>
            <div class="protection-list">
                {{#each this.items}}
                    <div class="protection-item">
                        <label>{{this.name}} ({{this.system.armour}})</label>
                        <div class="traits">{{this.system.traits.displayString}}</div>
                    </div>
                {{/each}}
            </div>
            <div class="range">
                {{this.displayRange}}
            </div>
        </div>
    {{/each}}
</section>