<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
  <div class="sustaining droppable" data-tooltip="Drag and drop a Power to Sustain it">
    <label>Sustained Powers</label>
    <div class="sustained-list">
        {{#each system.warp.sustaining.documents}}
        <div class="power" data-index="{{@key}}">
            <img src="{{this.img}}">
            <label>{{this.name}} ({{this.system.rating}})</label>
            <div class="controls">
                <a data-action="listDelete" data-path="system.warp.sustaining"><i class="fa-solid fa-xmark"></i></a>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="warp-charge">

    <div class="attribute-box top-label">
        <div class="label" style="grid-column: 1 / span 12"><label class="centered">{{localize "IMPMAL.WarpCharge"}}</label></div>
        <div class="field" style="grid-column: 1 / span 6"><input type="number" name="system.warp.charge" value="{{system.warp.charge}}"></div>
        <div class="field" style="grid-column: 7 / span 6"><input type="number" name="system.warp.threshold" value="{{system.warp.threshold}}"></div>
    </div>
    <div class="bar-section">
        <div class="bar-container state{{system.warp.state}}">
            <div class="bar" style="width : {{pct system.warp.charge system.warp.threshold}}%"></div>
            <div class="perils">
                {{#if (eq system.warp.state 1)}}
                    <a class="warp" data-action="rollWarp"><i class="fa-solid fa-dice-d10"></i> {{localize "IMPMAL.PsychicMastery"}}</a>
                {{else if (eq system.warp.state 2)}}
                    <a class="warp" data-action="rollWarp"><i class="fa-solid fa-dice-d10"></i> {{localize "IMPMAL.PerilsOfTheWarp"}}</a>
                {{/if}}
            </div>
        </div>
        <a data-action="purge" class="purge {{#if (eq system.warp.charge 0)}}inactive disabled{{/if}}"><i class="fa-solid fa-burst"></i>{{localize "IMPMAL.Purge"}}</a>
    </div>
</div>

    <div class="sheet-list">
        <div class="list-header row-content">
            <div class="list-name">{{localize "IMPMAL.PsychicPowers"}}</div>
            <div class="small">{{localize "IMPMAL.WR"}}</div>
            <div>{{localize "IMPMAL.Difficulty"}}</div>
            <div class="small">{{localize "IMPMAL.Range"}}</div>
            <div>{{localize "IMPMAL.Target"}}</div>
            <div>{{localize "IMPMAL.Duration"}}</div>
            <div class="list-controls">
                <a class="list-control" data-action="createItem" data-type="power"><i class="fas fa-plus"></i></a>
            </div>
        </div>
        <div class="list-content">
            {{#each items.power}}
                <div class="list-row" data-uuid="{{this.uuid}}" data-id="{{this.id}}">
                    <div class="row-content">
                        <div class="list-name rollable">
                            <img src="{{this.img}}"  data-action="rollTest" data-type="power">
                            <a class="label" data-action="toggleSummary">{{this.name}}</a>
                        </div>

                        <div class="small">{{this.system.rating}}</div>
                        <div>
                            {{#with (configLookup "difficulties" this.system.difficulty)}}
                                {{numberFormat this.modifier sign=true}}
                            {{/with}}
                        </div>

                        <div class="small">{{configLookup "powerRanges" this.system.range}}</div>
                        <div>{{this.system.target}}</div>
                        <div>{{configLookup "powerDurations" this.system.duration}}</div>

                        <div class="list-controls">
                            <a class="list-control context-menu"><i class="fa-regular fa-ellipsis-vertical"></i></a>
                        </div>
                    </div>
                    {{> sheetButtons document=this}}
                    <div class="dropdown-content collapsed">

                    </div>
                </div>
            {{/each}}
        </div>
    </div>

<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">