<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
    <div class="sheet-list skills">
        <div class="list-header row-content">
            <div class="list-name">{{localize "IMPMAL.Skill"}}</div>
            <div class="flex">{{localize "IMPMAL.Characteristic"}}</div>
            <div class="small">{{localize "IMPMAL.Adv"}}</div>
            <div class="small">{{localize "IMPMAL.Total"}}</div>
            <div class="list-controls"></div>
        </div>
        <div class="list-content">
            {{#each system.skills}}
                <div class="list-row nocontext" data-key="{{@key}}">
                    <div class="row-content">
                        <div class="list-name">
                            <a data-action="rollTest" data-type="skill">{{configLookup "skills" @key}}</a>
                        </div>
                        <div class="flexrow flex">
                            <div>
                                {{configLookup "characteristicAbbrev" this.characteristic}}
                            </div>
                            <div>
                                {{this.characteristicData.total}}
                            </div>
                        </div>
                        {{#if (eq ../actor.type "character")}}
                            <div class="small">{{this.advances}}</div>
                        {{else}}
                            <div class="small"><input name="system.skills.{{@key}}.advances" type="number" value="{{this.advances}}"></div>
                        {{/if}}
                        <div class="small"><a data-action="rollTest" data-type="skill">{{this.total}}</a></div>
                        <div class="list-controls">
                                <a class="list-control" data-action="createSpecialisation" data-tooltip="IMPMAL.CreateSpecialisation"><i class="fa-solid fa-plus"></i></a>
                        </div>
                    </div>
                    {{#each this.specialisations}}
                    <div class="row-content context-menu-alt specialisation {{#if (eq @key 0)}}first{{/if}}" data-uuid="{{this.uuid}}" data-id="{{this.id}}">
                        <a class="list-name" data-action="rollTest" data-type="skill">{{this.name}}</a>
                        <div></div>
                        {{#if (eq ../../actor.type "character")}}
                            <div class="small">{{this.system.advances}}</div>
                        {{else}}
                            <div class="small"><input data-action="editProperty" data-path="system.advances" type="number" value="{{this.system.advances}}"></div>
                        {{/if}}
                        <div class="small"><a class="roll" data-type="skill">{{this.system.total}}</a></div>
                        <div class="list-controls">
                            <a class="list-control" data-action="deleteEmbedded"><i class="fa-solid fa-xmark"></i></a>
                        </div>
                    </div>
                {{/each}}
                </div>
            {{/each}}
        </div>
</section>