<div class="skill-list">
    <header class="skill-row skill-header">
        <div class="skill-name">{{localize "IMPMAL.Skill"}}</div>
        <div class="skill-characteristic">{{localize "IMPMAL.Characteristic"}}</div>
        <div>{{localize "IMPMAL.Adv"}}</div>
        <div>{{localize "IMPMAL.Total"}}</div>
    </header>
    {{#each system.skills}}
        <div class="skill-row">
            <a class="skill-name roll" data-type="skill" data-key="{{@key}}">{{configLookup "skills" @key}}</a>
            <div class="skill-characteristic">
                <div>
                    {{configLookup "characteristicAbbrev" this.characteristic}}
                </div>
                <div>
                    {{this.characteristicData.total}}
                </div>
            </div>
            {{#if (eq ../actor.type "character")}}
                <div>{{this.advances}}</div>
            {{else}}
                <div><input name="system.skills.{{@key}}.advances" type="number" value="{{this.advances}}"></div>
            {{/if}}
            <div><a class="roll" data-type="skill" data-key="{{@key}}">{{this.total}}</a></div>
        </div>
        {{#each this.specialisations}}
            <div class="skill-row spec" data-id="{{this.id}}">
                <a class="skill-name list-edit">{{this.name}}</a>
                <div class="skill-characteristic"></div>
                {{#if (eq ../../actor.type "character")}}
                    <div>{{this.system.advances}}</div>
                {{else}}
                    <div><input class="property-edit" data-id="{{this.id}}" data-target="system.advances" type="number" value="{{this.system.advances}}"></div>
                {{/if}}
                <div><a class="roll" data-type="skill" data-item-id="{{this.id}}">{{this.system.total}}</a></div>
            </div>
        {{/each}}
    {{/each}}
</div>