<div class="actor-property sustaining" data-tooltip="Drag and drop a Power to Sustain it">
    <label>Sustained Powers</label>
    <div class="sustained-list">
        {{#each system.warp.sustaining.documents}}
        <div class="power" data-index="{{@key}}">
            <img src="{{this.img}}">
            <label>{{this.name}} ({{this.system.rating}})</label>
            <div class="controls">
                <a class="remove-sustaining"><i class="fa-solid fa-xmark"></i></a>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<div class="warp-charge">
    <div class="actor-property">
        <label class="property-label">{{localize "IMPMAL.WarpCharge"}}</label>
        <div class="property-value">
            <input type="number" value="{{system.warp.charge}}" name="system.warp.charge">
            <input type="number" value="{{system.warp.threshold}}" disabled>
        </div>
    </div>
    <div class="bar-section">
        <div class="bar-container state{{system.warp.state}}">
            <div class="bar" style="width : {{pct system.warp.charge system.warp.threshold}}%"></div>
            <div class="perils">
                {{#if (eq system.warp.state 1)}}
                    <a class="warp"><i class="fa-solid fa-dice-d10"></i> {{localize "IMPMAL.PsychicMastery"}}</a>
                {{else if (eq system.warp.state 2)}}
                    <a class="warp"><i class="fa-solid fa-dice-d10"></i> {{localize "IMPMAL.PerilsOfTheWarp"}}</a>
                {{/if}}
            </div>
        </div>
        <a class="purge {{#if (eq system.warp.charge 0)}}inactive disabled{{/if}}"><i class="fa-solid fa-burst"></i>{{localize "IMPMAL.Purge"}}</a>
    </div>
</div>
<section class="list">
    <header class="list-row">
        <div class="list-name">{{localize "IMPMAL.PsychicPowers"}}</div>
        <div class="small">{{localize "IMPMAL.WR"}}</div>
        <div>{{localize "IMPMAL.Difficulty"}}</div>
        <div>{{localize "IMPMAL.Range"}}</div>
        <div>{{localize "IMPMAL.Target"}}</div>
        <div>{{localize "IMPMAL.Duration"}}</div>
        <div class="list-controls">
            <a class="list-create" data-type="power"><i class="fa-solid fa-plus"></i></a>
        </div>
    </header>
    <div class="list-content">
        {{#each items.power}}
            <div class="list-item" data-id="{{this.id}}" data-item-id="{{this.id}}">
                <div class="list-row">
                    <div class="list-name list-summary-context">
                        <img src="{{this.img}}">
                        <a class="roll" data-type="power">{{this.name}}</a>
                    </div>
                    <div class="small">{{this.system.rating}}</div>
                    <div>
                        {{#with (configLookup "difficulties" this.system.difficulty)}}
                            {{numberFormat this.modifier sign=true}}
                        {{/with}}
                    </div>
                    <div>{{configLookup "powerRanges" this.system.range}}</div>
                    <div>{{this.system.target}}</div>
                    <div>{{configLookup "powerDurations" this.system.duration}}</div>
                    <div class="list-controls">
                        <a class="list-edit"><i class="fa-solid fa-edit"></i></a>
                        <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>
                <div class="summary">

                </div>
            </div>
        {{/each}}
    </div>
</section>