{{#if defendingAgainst}}
    {{> systems/impmal/templates/actor/partials/defendingAgainst.hbs}}
{{/if}}

<div class="flexrow combat-values">
    <div class="actor-property inline roll">
        <label class="property-label"><a>{{localize "IMPMAL.Initiative"}}</a></label>
        <div class="property-value">
            <input type="number" value="{{system.combat.initiative}}" disabled>
        </div>
    </div>
    <div class="actor-property inline roll">
        <label class="property-label"><a>{{localize "IMPMAL.Reflexes"}}</a></label>
        <div class="property-value">
            <input type="number" value="{{system.skills.reflexes.total}}" disabled>
        </div>
    </div>
    <div class="actor-property inline">
        {{#if (eq actor.type "character")}}
            <label class="property-label">{{localize "IMPMAL.Superiority"}}</label>
            <div class="property-value">
                <input class="superiority-update" type="number" value="{{system.combat.superiority}}" disabled>
            </div>
        {{else if (eq actor.type "npc")}}
            <label class="property-label">{{localize "IMPMAL.Resolve"}}</label>
            <div class="property-value">
                <input type="number" value="{{system.combat.resolve}}" name="system.combat.resolve">
            </div>
        {{/if}}
    </div>
    {{#unless (eq actor.type "character")}}
        <div class="actor-property inline">
            <label class="property-label">{{localize "IMPMAL.Size"}}</label>
            <div class="property-value">
                <select name="system.combat.size">
                    {{#select system.combat.size}}
                        {{#each (config "sizes")}}
                            <option value="{{@key}}">{{this}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
    {{/unless}}
    <div class="actor-property inline">
        <label class="property-label">{{localize "IMPMAL.Speed"}}</label>
        <div class="property-value">
            <input type="text" value="{{configLookup " speeds" system.combat.speed.land.value}}" disabled>
        </div>
    </div>
</div>

<section class="list {{#unless items.equipped.melee.length}}inactive{{/unless}}">
    <header class="list-row">
        <div class="list-name">{{localize "IMPMAL.MeleeWeapons"}}</div>
        <div>{{localize "IMPMAL.Specialisation"}}</div>
        <div>{{localize "IMPMAL.Damage"}}</div>
    </header>
    <div class="list-content">
        {{#each items.equipped.melee}}
            <div class="list-item" data-id="{{this.id}}">
                <div class="list-row">
                    <div class="list-name">
                        <img src="{{this.img}}">
                        <a class="roll list-summary-context" data-type="weapon">{{this.name}}</a>
                        {{#if (eq ../actor.type "character")}}
                            <div class="grip">
                                {{#if this.system.equipped.hands.left}}
                                    <span {{#if this.system.equipped.offhand}}class="offhand" {{/if}}
                                        data-hand="left"><i class="fa-solid fa-hand"></i></span>
                                {{/if}}
                                {{#if this.system.equipped.hands.right}}
                                    <span {{#if this.system.equipped.offhand}}class="offhand" {{/if}}
                                        data-hand="right"><i class="fa-solid fa-hand"></i></span>
                                {{/if}}
                            </div>
                        {{/if}}
                    </div>
                    <div>{{localize this.system.specialisation}} ({{this.system.skillTotal}})</div>
                    <div>{{this.system.damage.value}}</div>
                </div>
                {{#if this.system.traits.list.length}}
                    <div class="aux-row">
                        <div class="weapon-traits">

                            <label>{{localize 'IMPMAL.TraitsT'}}</label>
                            <div class="trait-list">
                                {{this.system.traits.displayString}}
                            </div>
                        </div>
                    </div>
                {{/if}}
                <div class="summary">

                </div>
            </div>
        {{/each}}
    </div>
</section>

<section class="list {{#unless items.equipped.ranged.length}}inactive{{/unless}}">
    <header class="list-row">
        <div class="list-name">{{localize "IMPMAL.RangedWeapons"}}</div>
        <div>{{localize "IMPMAL.Specialisation"}}</div>
        <div>{{localize "IMPMAL.Damage"}}</div>
        <div>{{localize "IMPMAL.Range"}}</div>
        <div>{{localize "IMPMAL.Ammo"}}</div>
    </header>
    <div class="list-content">
        {{#each items.equipped.ranged}}
            <div class="list-item" data-id="{{this.id}}">
                <div class="list-row">
                    <div class="list-name">
                        <img data-item-id="{{this.id}}" src="{{this.img}}">
                        <a class="roll list-summary-context" data-type="weapon">{{this.name}}</a>
                        {{#if (eq ../actor.type "character")}}
                            <div class="grip">
                                {{#if this.system.equipped.hands.left}}
                                    <span {{#if this.system.equipped.offhand}}class="offhand" {{/if}}
                                        data-hand="left"><i class="fa-solid fa-hand"></i></span>
                                {{/if}}
                                {{#if this.system.equipped.hands.right}}
                                    <span {{#if this.system.equipped.offhand}}class="offhand" {{/if}}
                                        data-hand="right"><i class="fa-solid fa-hand"></i></span>
                                {{/if}}
                            </div>
                        {{/if}}
                    </div>
                    <div>{{localize this.system.specialisation}} ({{this.system.skillTotal}})</div>
                    <div>{{this.system.damage.value}}</div>
                    <div>{{configLookup "ranges" this.system.range}}</div>
                    <div>
                        {{#unless this.system.selfAmmo}}
                            <select class="ammo-selector"
                                data-tooltip="{{this.system.ammo.document.name}} ({{this.system.ammo.document.system.quantity}})">
                                {{#select this.system.ammo.id}}
                                    <option value=""></option>
                                    {{#each this.system.ammoList}}
                                        <option value="{{this.id}}">{{this.name}} ({{this.system.quantity}})</option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        {{/unless}}
                    </div>
                </div>
                <div class="aux-row">
                    {{#if this.system.traits.list.length}}
                        <div class="weapon-traits">
                            <label>{{localize 'IMPMAL.TraitsT'}}</label>
                            <div class="trait-list">
                                {{this.system.traits.displayString}}
                            </div>
                        </div>
                    {{/if}}
                    {{#unless this.system.selfAmmo}}
                        <div class="mag">
                            <label>{{localize "IMPMAL.Mag"}}</label>
                            <div class="values">
                                <div class="current">{{this.system.mag.current}}</div>
                                <div>/</div>
                                <div class="value">{{this.system.mag.value}}</div>
                            </div>
                        </div>
                        {{#if (lt this.system.mag.current this.system.mag.value)}}
                            <a class="reload">{{localize "Reload"}}</a>
                        {{/if}}
                    {{else}}
                        <div class="qty">
                            <label>{{localize "IMPMAL.Qty."}}</label>
                            <div>{{this.system.quantity}}</div>
                        </div>
                    {{/unless}}

                </div>
                <div class="summary">

                </div>
            </div>
        {{/each}}
    </div>
</section>

{{#if items.equipped.vehicle.length}}
    <section class="list">
        <header class="list-row">
            <div class="list-name">{{localize "IMPMAL.VehicleWeapons"}}</div>
            <div>{{localize "IMPMAL.Specialisation"}}</div>
            <div>{{localize "IMPMAL.Damage"}}</div>
            <div>{{localize "IMPMAL.Range"}}</div>
        </header>
        <div class="list-content">
            {{#each items.equipped.vehicle}}
                <div class="list-item" data-id="{{this.uuid}}">
                    <div class="list-row">
                        <div class="list-name">
                            <img src="{{this.img}}">
                            <a class="roll list-summary-context" data-type="weapon">{{this.name}}</a>
                        </div>
                        <div>{{localize this.system.specialisation}} ({{this.system.skillTotal}})</div>
                        <div>{{this.system.damage.value}} {{localize "IMPMAL.Damage"}}</div>
                        {{#if this.system.isRanged}}
                            <div>{{configLookup "ranges" this.system.range}} {{localize "IMPMAL.Range"}}</div>
                        {{/if}}
                    </div>
                    <div class="aux-row">
                        {{#if this.system.traits.list.length}}
                            <div class="weapon-traits">

                                <label>{{localize 'IMPMAL.TraitsT'}}</label>
                                <div class="trait-list">
                                    {{this.system.traits.displayString}}
                                </div>
                            </div>
                        {{/if}}
                        {{#unless this.system.selfAmmo}}
                            {{#if this.system.isRanged}}
                                <div class="mag">
                                    <label>{{localize "IMPMAL.Mag"}}</label>
                                    <div class="values">
                                        <div class="current">{{this.system.mag.current}}</div>
                                        <div>/</div>
                                        <div class="value">{{this.system.mag.value}}</div>
                                    </div>
                                </div>
                                <a class="ammo-used">
                                    {{#if this.system.ammo.document}}
                                        {{this.system.ammo.document.name}}
                                        ({{this.system.ammo.document.system.quantity}})
                                    {{else}}
                                        {{localize "IMPMAL.NoAmmoLoaded"}}
                                    {{/if}}
                                </a>
                            {{/if}}
                        {{else}}
                            <div class="qty">
                                <label>{{localize "IMPMAL.Qty."}}</label>
                                <div>{{this.system.quantity}}</div>
                            </div>
                        {{/unless}}
                    </div>

                    <div class="summary">

                    </div>
                </div>
            {{/each}}
        </div>
    </section>
{{/if}}

<section class="list {{#unless items.equipped.shield.length}}inactive{{/unless}}">
    <header class="list-row">
        <div class="list-name">{{localize "IMPMAL.Shield"}}</div>
        <div class="shield-traits">{{localize "IMPMAL.Traits"}}</div>
    </header>
    <div class="list-content">
        {{#each items.equipped.shield}}
            <div class="list-item" data-id="{{this.id}}">
                <div class="list-row">
                    <div class="list-name">
                        <img data-item-id="{{this.id}}" src="{{this.img}}">
                        <a class="list-edit list-summary-context">{{this.name}}</a>
                    </div>
                    <div class="shield-traits">
                        <div class="trait-list">
                            {{this.system.traits.displayString}}
                        </div>
                    </div>
                </div>
                <div class="summary">

                </div>
            </div>
        {{/each}}
    </div>
</section>

<div class="flexrow">

    <section class="hit-locations">
        <label>Protection</label>
        {{#each hitLocations}}
            <div class="location" data-key="{{this.key}}">
                <div class="location-values">
                    <label>{{localize this.label}}</label>
                    <div class="armour-value">
                        {{this.armour}}
                    </div>
                </div>
                <div class="location-details collapsed">
                    {{#each this.items}}
                        <div class="protection-item">
                            <label>{{this.name}} </label>
                            <span>{{this.system.armour}}</span>
                            {{!-- <div class="traits">{{this.system.traits.displayString}}</div> --}}
                        </div>
                        <div class="armour-traits">
                            <div class="trait-list">
                                {{this.system.traits.displayString}}
                            </div>
                        </div>
                    {{/each}}
                    {{#if this.field}}
                        <div class="protection-item">
                            <label>{{this.field.name}} ({{this.field.system.protection}})</label>
                        </div>
                    {{/if}}
                    {{!-- <div class="range">
                        {{this.displayRange}}
                    </div> --}}
                </div>
            </div>
        {{/each}}
    </section>

    <div class="flexcol">

        <section class="list">
            <header class="list-row">
                <div class="list-name">{{localize "IMPMAL.CriticalWounds"}}</div>
                <div class="list-controls">
                    <a class="list-create" data-type="critical"><i class="fa-solid fa-plus"></i></a>
                </div>
            </header>
            <div class="list-content">
                {{#each items.critical}}
                    <div class="list-item" data-id="{{this.id}}" data-collection="items" data-item-id="{{this.id}}">
                        <div class="list-row">
                            <div class="list-name">
                                <img src="{{this.img}}">
                                <a class="list-edit list-summary-context">{{this.name}}</a>
                            </div>
                            <div class="list-controls">
                                <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>
                        <div class="summary">

                        </div>
                    </div>
                {{/each}}
            </div>
        </section>
        <section class="list">
            <header class="list-row">
                <div class="list-name">{{localize "IMPMAL.Injury"}}</div>
                <div class="list-controls">
                    <a class="list-create" data-type="injury"><i class="fa-solid fa-plus"></i></a>
                </div>
            </header>
            <div class="list-content">
                {{#each items.injury}}
                    <div class="list-item" data-id="{{this.id}}" data-collection="items" data-item-id="{{this.id}}">
                        <div class="list-row">
                            <div class="list-name">
                                <img src="{{this.img}}">
                                <a class="list-edit list-summary-context">{{this.name}}</a>
                            </div>
                            <div class="list-controls">
                                <a class="list-edit"><i class="fa-solid fa-edit"></i></a>
                                <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>
                        <div class="summary">

                        </div>
                    </div>
                {{/each}}
            </div>
        </section>
    </div>

</div>