<div class="flexrow">
    <div class="actor-property">
        <label class="property-label">{{localize "IMPMAL.Age"}}</label>
        <div class="property-value">
            <input type="number" value="{{system.details.age}}" name="system.details.age">
        </div>
    </div>
    <div class="actor-property">
        <label class="property-label">{{localize "IMPMAL.Eyes"}}</label>
        <div class="property-value">
            <input type="text" value="{{system.details.eyes}}" name="system.details.eyes">
        </div>
    </div>
    <div class="actor-property">
        <label class="property-label">{{localize "IMPMAL.Hair"}}</label>
        <div class="property-value">
            <input type="text" value="{{system.details.hair}}" name="system.details.hair">
        </div>
    </div>
    <div class="actor-property">
        <label class="property-label">{{localize "IMPMAL.Height"}}</label>
        <div class="property-value">
            <input type="text" value="{{system.details.height}}" name="system.details.height">
        </div>
    </div>
    <div class="actor-property">
        <label class="property-label">{{localize "IMPMAL.Weight"}}</label>
        <div class="property-value">
            <input type="text" value="{{system.details.weight}}" name="system.details.weight">
        </div>
    </div>
</div>

<div class="flexrow">
    <div class="actor-property">
        <label class="property-label">{{localize "IMPMAL.DistinguishingFeatures"}}</label>
        <div class="property-value">
            <input type="text" value="{{system.details.feature}}" name="system.details.feature">
        </div>
    </div>
    <div class="actor-property">
        <label class="property-label">{{localize "IMPMAL.Divination"}}</label>
        <div class="property-value">
            <input type="text" value="{{system.details.divination}}" name="system.details.divination">
        </div>
    </div>
</div>

<div class="flexrow">
    <div class="actor-property">
        <label class="property-label">{{localize "IMPMAL.ShortTermGoal"}}</label>
        <div class="property-value">
            <input type="text" value="{{system.goal.short}}" name="system.goal.short">
        </div>
    </div>
    <div class="actor-property">
        <label class="property-label">{{localize "IMPMAL.LongTermGoal"}}</label>
        <div class="property-value">
            <input type="text" value="{{system.goal.long}}" name="system.goal.long">
        </div>
    </div>
</div>
    <section class="actor-notes">
{{#if (isGM)}}
        <div class="note-section">

            <div class="notes-header">
                {{localize "IMPMAL.GMNotes"}}
            </div>
            <div class="notes-content">
                {{editor system.notes.gm target="system.notes.gm" engine="prosemirror" button="true" button=true owner=owner editable=editable}}
            </div>
        </div>
{{/if}}

        <div class="note-section">

            <div class="notes-header">
                {{localize "IMPMAL.Notes"}}
            </div>
            <div class="notes-content">
                {{editor system.notes.player target="system.notes.player" engine="prosemirror" button="true" button=true owner=owner editable=editable}}
            </div>
        </div>
    </section>