<table class="characteristic-table">
    <tr>
        <th></th>
        {{#each system.characteristics}}
            <th>
                {{@key}}
                {{!-- {{configLookup "characteristicAbbrev" @key}} --}}
            </th>
        {{/each}}
    </tr>
    <tr>
        <td>Starting</td>
        {{!-- <td>{{localize "IMPMAL.Starting"}}</td> --}}
        {{#each system.characteristics}}
            <td>
                <input type="number" name="system.characteristics.{{@key}}.starting" value="{{this.starting}}">
            </td>
        {{/each}}
    </tr>
    <tr>
        <td>Advances</td>
        {{!-- <td>{{localize "IMPMAL.Advances"}}</td> --}}
        {{#each system.characteristics}}
            <td>
                <input type="number" name="system.characteristics.{{@key}}.advances" value="{{this.advances}}">
            </td>
        {{/each}}
    </tr>
    <tr>
        <td>Total</td>
        {{!-- <td>{{localize "IMPMAL.Total"}}</td> --}}
        {{#each system.characteristics}}
            <td>
                <a>{{this.total}}</a>
            </td>
        {{/each}}
    </tr>
</table>

<div class="actor-properties">
    <div class="actor-property">
        <label class="property-label">{{localize "IMPMAL.Initiative"}}</label>
        <div class="property-value">
            <input type="number" value="{{system.initiative}}" disabled>
        </div>
    </div>
    <div class="actor-property">
        <label class="property-label">{{localize "IMPMAL.Wounds"}}</label>
        <div class="property-value">
            <input type="number" name="system.wounds.value" value="{{system.wounds.value}}">
            <input type="number" value="{{system.wounds.max}}" disabled>
        </div>
    </div>
    <div class="actor-property">
        <label class="property-label">{{localize "IMPMAL.CriticalWounds"}}</label>
        <div class="property-value">
            <input type="number" value="" disabled>
        </div>
    </div>
        <div class="actor-property">
        <label class="property-label">{{localize "IMPMAL.Fate"}}</label>
        <div class="property-value">
            <input type="number" name="system.fate.value" value="{{system.fate.value}}">
            <input type="number" value="{{system.fate.max}}" value="{{system.fate.max}}">
        </div>
    </div>
</div>

<div class="actor-properties">
    <div class="actor-property">
        <label class="property-label">{{localize "IMPMAL.Corruption"}}</label>
        <div class="property-value">
            <input type="number" name="system.corruption" value="{{system.corruption}}">
        </div>
    </div>
    <div class="actor-property">
        <label class="property-label">{{localize "IMPMAL.Handed"}}</label>
        <select name="system.handed">
            <option value="r">{{localize "IMPMAL.Right"}}</option>
            <option value="l">{{localize "IMPMAL.Left"}}</option>
        </select>
    </div>
    <div class="actor-property">
        <label class="property-label">{{localize "IMPMAL.XP"}}</label>
        <div class="xp property-value">
            <div>
                <input type="number" value="{{system.xp.available}}" name="system.xp.available">
                <label>{{localize "IMPMAL.Available"}}</label>
            </div>
            <div>
                <input type="number" value="{{system.xp.spent}}" name="system.xp.spent">
                <label>{{localize "IMPMAL.Spent"}}</label>
            </div>
            <div>
                <input type="number" value="{{system.xp.total}}" name="system.xp.total" disabled>
                <label>{{localize "IMPMAL.Total"}}</label>
            </div>
        </div>
    </div>
</div>

<section class="list influence">
    <header class="list-row">
        <div>{{localize "Faction"}}</div>
        <div class="small centered">{{localize "Infl."}}</div>
        <div class="wide">{{localize "Notes/Contacts"}}</div>
        <div class="list-controls single">
            <a class="list-create" data-type="influence"><i class="fa-solid fa-plus"></i></a>
        </div>
    </header>
    <div class="list-content">
        {{#each system.influence.factions}}
        <div class="list-item">
            <div class="list-row">
                <div>
                    <input type="text" name="system.influence.factions.{{@key}}.name" value="{{this.name}}">
                </div>
                <div class="small">
                    <input type="number" name="system.influence.factions.{{@key}}.value" value="{{this.value}}">
                </div>
                <div class="wide">
                    <input type="text" name="system.influence.factions.{{@key}}.notes" value="{{this.notes}}">
                </div>
                <div class="list-controls single">
                    <a class="list-delete" data-type="talent"><i class="fa-solid fa-xmark"></i></a>
                </div>
            </div>
            <div class="summary">

            </div>
        </div>
        {{/each}}
    </div>
</section>