<form>
  <div class="stage-title">
    <h3>{{localize "IMPMAL.CHARGEN.StageTitle.Faction"}}</h3>
  </div>


  <div class="stage-details">

 <div class="rolled-item">
      {{#if context.faction}}
        <h4>{{context.faction.name}}</h4>
        <img class="item-image" src="{{context.faction.img}}">
        {{{factionDescription}}}
      {{else}}
        <h4>{{context.faction.name}}</h4>
        <div class="item-image"></div>
      {{/if}}
    </div>
    

      {{#if context.faction}}
      <div class="choice-section">
        <h4 class="centered">{{localize "IMPMAL.Choices"}}</h4>
        <p class="centered">{{localize "Gain +5 to selected Characteristics"}}</p>
        <div class="choices">
          <select disabled>
            <option>{{configLookup "characteristics" context.faction.system.character.characteristics.base}}</option>
          </select>
          <select name="characteristic" class="choice add-context" data-property="characteristic">
            {{#select context.characteristic}}
            <option value="">-</option>
            {{#each context.faction.system.character.characteristics.choices}}
              <option value="{{this}}">{{configLookup "characteristics" this}}</option>
            {{/each}}
          </select>
            {{/select}}
        </div>
          <p class="centered">Allocate {{context.faction.system.character.advances.value}} Advances to the following Skills</p>
        <div class="choices skills wrap">
          {{#each context.faction.system.character.advances.skills}}
          <div class="choice-group">
            <label>{{configLookup "skills" this}}</label>
            <input type="number" name="skills.{{this}}" class="add-context" data-property="skills.{{this}}" value="{{lookup ../context.skills this}}" min="0">
          </div>
          {{/each}}
        </div>


        {{#if context.faction.system.character.equipment.options.length}}
        <p class="centered">{{localize "IMPMAL.Equipment"}} {{#if equipmentList}}<a class="choice-reset" data-path="equipment"><i class="fas fa-rotate-left"></i></a>{{/if}}</p>
        <div class="choices">
            {{#if equipmentList}}
              <p class="centered">{{equipmentList}}</p>
             {{else}}
             <a class="choose choice-menu content-link" data-path="equipment"><i class="fas fa-suitcase"></i> Choose Equipment</a>
            {{/if}}
        </div>
        {{/if}}

        {{#if context.faction.system.character.talents.options.length}}
        <p class="centered">{{localize "IMPMAL.Talents"}} {{#if talentList}}<a class="choice-reset" data-path="talents"><i class="fas fa-rotate-left"></i></a>{{/if}}</p>
        <div class="choices">
                      {{#if talentList}}
              <p class="centered">{{talentList}}</p>
              {{else}}
            <a class="choose choice-menu content-link" data-path="talents"><i class="fas fa-suitcase"></i> Choose Talents</a>
            {{/if}}
        </div>
        {{/if}}

      </div>
    {{/if}}

      {{#unless context.faction}}
    <div class="buttons">
      <button type="button" data-action='rollFaction'>{{localize "IMPMAL.Roll"}}</button>
    </div>
    {{/unless}}

  </div>

    <div class="result">
      <p><b>{{localize "IMPMAL.CHARGEN.StageTitle.Faction"}}</b>: {{context.faction.name}}</p>
      <p class="xp">{{localize "IMPMAL.XP"}}: {{context.exp}}</p>
    </div>
    <div class="controls">
      <button type="submit">{{localize "IMPMAL.Submit"}}</button>
    </div>
</form>