<form>
  <div class="stage-title">
    <h3>{{localize "IMPMAL.CHARGEN.StageTitle.Role"}}</h3>
  </div>


  <div class="stage-details">

 <div class="rolled-item">
      {{#if context.role}}
        <h4>{{context.role.name}}</h4>
        <img class="item-image" src="{{context.role.img}}">
        {{{roleDescription}}}
      {{else}}
        <h4>{{context.role.name}}</h4>
        <div class="item-image"></div>
      {{/if}}
  </div>

  {{#unless context.role}}
  <p>Drag and drop a Role. If your Patron has selected your role for you, enter the XP received (usually 50) below.</p>
  {{else}}
  <hr>

          <p class="centered">Allocate {{context.role.system.skills.value}} Advances to the following Skills</p>
        <div class="choices skills wrap">
          {{#each context.role.system.skills.list}}
          <div class="choice-group">
            <label>{{configLookup "skills" this}}</label>
            <input type="number" name="skills.{{this}}" class="add-context" data-property="skills.{{this}}" value="{{lookup ../context.skills this}}" min="0">
          </div>
          {{/each}}
        </div>

          <h4 class="centered">{{localize "Select Specialisations"}}</h4>
        <div class="choices">
          {{#each context.specialisations}}
            <a class="choose-spec choice content-link" data-index="{{@key}}"><i class="fas fa-suitcase"></i> {{this.text}} {{#if this.chosen}}+1{{/if}}</a>
          {{/each}}
        </div>

        {{#if context.role.system.equipment.options.length}}
        <h4 class="centered">{{localize "IMPMAL.Equipment"}} {{#if equipmentList}}<a class="choice-reset" data-path="equipment"><i class="fas fa-rotate-left"></i></a>{{/if}}</h4>
        <div class="choices">
            {{#if equipmentList}}
              <p class="centered">{{equipmentList}}</p>
             {{else}}
             <a class="choose choice-menu content-link" data-path="equipment"><i class="fas fa-suitcase"></i> Equipment</a>
            {{/if}}
        </div>
        {{/if}}

        {{#if context.role.system.talents.options.length}}
        <h4 class="centered">{{localize "IMPMAL.Talents"}} {{#if talentList}}<a class="choice-reset" data-path="talents"><i class="fas fa-rotate-left"></i></a>{{/if}}</h4>
        <div class="choices">
                      {{#if talentList}}
              <p class="centered">{{talentList}}</p>
              {{else}}
            <a class="choose choice-menu content-link" data-path="talents"><i class="fas fa-suitcase"></i> Talents</a>
            {{/if}}
        </div>
        {{/if}}
  {{/unless}}

    <div class="result">
      <p><b>{{localize "IMPMAL.CHARGEN.StageTitle.Role"}}</b>: {{context.role.name}}</p>
      <div class="xp">
        {{localize "IMPMAL.XP"}}: 
        <input type="number" class="xp"/>
      </div>
    </div>
    <div class="controls">
      <button type="submit">{{localize "IMPMAL.Submit"}}</button>
    </div>
</form>