<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
    {{log this  }}
    <div class="flexrow" style="align-items: flex-start">
        <div class="conditions">
            {{#each conditions}}
                <div class="condition">
                    <label>{{this.name}}</label>
                    <div class="pips">
                        {{#each this.pips}}
                            <div class="pip {{#if this.filled}}filled{{/if}}" data-type="{{this.type}}" data-key="{{../this.id}}"></div>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
            <select class="add-effect">
                <option>Add Effect</option>
                {{#each (config "zoneEffects")}}
                    <option value="{{@key}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="effect-lists">
            <div class="sheet-list">
                <div class="list-header row-content">
                    <div class="list-name">{{localize "IMPMAL.TemporaryEffects"}}</div>
                    <div>{{localize "IMPMAL.Source"}}</div>
                    <div class="list-controls">
                        <a class="list-control" data-action="createEffect" data-category="temporary">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="list-content">
                    {{#each effects.temporary}}
                        <div class="list-row" data-uuid="{{this.uuid}}">
                            <div class="row-content">
                                {{> listEffect effect=this}}
                            </div>
                            {{> sheetButtons document=this}}
                            <div class="dropdown-content collapsed">

                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>


            <div class="sheet-list">
                <div class="list-header row-content">
                    <div class="list-name">{{localize "IMPMAL.PassiveEffects"}}</div>
                    <div>{{localize "IMPMAL.Source"}}</div>
                    <div class="list-controls">
                        <a class="list-control" data-action="createEffect" data-category="passive">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="list-content">
                    {{#each effects.passive}}
                        <div class="list-row" data-uuid="{{this.uuid}}">
                            <div class="row-content">
                                {{> listEffect effect=this}}
                            </div>
                            {{> sheetButtons document=this}}
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="sheet-list">
                <div class="list-header row-content">
                    <div class="list-name">{{localize "IMPMAL.DisabledEffects"}}</div>
                    <div>{{localize "IMPMAL.Source"}}</div>
                    <div class="list-controls"></div>
                </div>
                <div class="list-content">
                    {{#each effects.disabled}}
                        <div class="list-row" data-uuid="{{this.uuid}}">
                            <div class="row-content inactive">
                                {{> listEffect effect=this}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

</section>