<div class="target {{#if (eq this.result.winner "attacker")}}color-positive attacker{{else}}color-negative defender{{/if}}" data-id="{{this.id}}">
    <a class="{{this.result.winner}} opposed-icon"><i class="fa-solid fa-crosshairs"></i></a>
    <img data-tooltip="{{tokenName this.actor}}" src="{{tokenImg this.actor}}">
    {{#if this.result}}
        <div class="opposed-result">
            <span class="opposedSL">
                {{numberFormat this.result.SL sign=true}}
            </span>
            {{#if this.result.damage}}
                , {{localize "IMPMAL.DamageDisplay"
             damage=this.result.damage}}
            {{/if}}

            {{#if this.damage.rend}}
            , <span class="rend">{{localize "IMPMAL.Rend"}} {{this.damage.rend}}</span>
            {{/if}}

            {{#if this.damage.critical}}
            <span class="color-positive critical">{{{this.damage.critical}}}</span>
            {{/if}}
        </div>
        {{#if this.result.damage}}
            <div class="controls">
                {{#if this.damage.applied}}
                    <a class="apply-damage" data-tooltip="{{this.damage.text}} 
                        {{#if (gt this.damage.multiple 1)}} 
                            x{{this.damage.multiple}} 
                        {{/if}}
                        <ul>
                            {{#each this.damage.modifiers}}
                            <p>{{this.label}} ({{#if (gt this.value 0)}}+{{/if}}{{this.value}})</p>
                            {{/each}}
                        </ul>
                            {{#if this.damage.armourRoll}}
                            <p>{{localize "IMPMAL.ArmourRoll"}}: {{this.damage.armourRoll.total}}</p>
                            {{/if}}">
                    <i class="fa-solid fa-check"></i></a>
                {{else}}
                    <button class="apply-damage gm-only" data-tooltip="{{localize 'IMPMAL.ApplyDamage'}}"><i class="fa-solid fa-user-minus"></i></button>
                {{/if}}
            </div>
        {{/if}}
    {{else}}
        ?
    {{/if}}
</div>