<div class="impmal test">
    {{{itemSummary}}}
    <div class="comparison">
        <div class="roll">
            {{#if result.reversed}}
                <span class="inactive">{{result.originalRoll}}</span>
                <span class="reverse-icon"><i class="fa-solid fa-shuffle"></i></span>
                <span>{{result.roll}}</span>
            {{else}}
                {{result.roll}}
            {{/if}}
        </div>
        <div class="vs">
            vs
        </div>
        <div class="target">
            {{result.target}}
            <a class="test-breakdown" data-tooltip="{{context.breakdown}}" data-tooltip-direction="LEFT"><i class="fa-regular fa-circle-info"></i></a>
        </div>
    </div>

    <div class="sl">
        <div>
            {{result.signedSL}}
        </div>
    </div>
    <p class="centered"><strong>{{result.outcomeDescription}}</strong></p>
    <div class="test-details">
        <div class="tags">
            {{#each tags}}
                <div>{{{this}}}</div>
            {{/each}}
        </div>
        {{{testDetails}}}

        {{#each text}}
        <p>{{{this}}}</p>
        {{/each}}
    </div>


    {{#if opposedTests.length}}
        <div class="targets">
            <div class="target-list">
                {{#each opposedTests}}
                    {{> systems/impmal/templates/chat/rolls/opposedTest.hbs opposedTest=this}}
                {{/each}}
            </div>
        </div>
    {{/if}}

    {{#if defending}}
        {{#with defending as |attacker|}}
            <div class="defense {{#if (eq attacker.result.winner "attacker")}}color-positive attacker{{else}}color-negative defender{{/if}} ">
                <div class="targeter" data-id="{{attacker.id}}">
                    <a class="opposed-icon"><i class="fa-solid fa-shield-halved"></i></a>
                    {{#isTokenVideo attacker.actor }}
                    <video autoplay muted loop data-tooltip="{{tokenName attacker.actor}}" src="{{tokenImg attacker.actor}}">
                    {{else}}
                    <img data-tooltip="{{tokenName attacker.actor}}" src="{{tokenImg attacker.actor}}">
                    {{/isTokenVideo}}
                    <div class="opposed-result {{result.winner}}">
                        <span class="opposedSL">
                            {{numberFormat attacker.result.SL sign=true}}
                        </span>
                    </div>
                </div>
            </div>
        {{/with}}
    {{/if}}

    {{{effectButtons}}}
</div>