<div class="impmal test">
    <div class="comparison">
        <div class="roll">
            {{#if result.reversed}}
                <span class="inactive">{{result.originalRoll}}</span>
                <span class="reverse-icon"><i class="fa-solid fa-shuffle"></i></span>
                <span>{{result.roll}}</span>
            {{else}}
                {{result.roll}}
            {{/if}}
        </div>
        <div class="vs">
            vs
        </div>
        <div class="target">
            {{result.target}}
        </div>
    </div>

    <div class="sl">
        <div>
            {{result.signedSL}}
        </div>
    </div>
    <p class="centered"><strong>{{result.outcomeDescription}}</strong></p>
    {{{testDetails}}}

    {{#if opposedTests.length}}
        <div class="targets">
            <div class="target-list">
                {{#each opposedTests}}
                    <div class="target">
                    <a><i class="fa-solid fa-crosshairs"></i></a>
                        <img data-tooltip="{{tokenName this.actor}}" src="{{tokenImg this.actor}}">
                        {{#if this.result}}
                            <span class="opposed-result {{#if (eq this.result.winner " attacker")}}winner{{/if}} {{#if
                                (eq this.result.winner "defender"
                                )}}loser{{/if}}">{{numberFormat this.result.SL sign=true}}</span>
                        {{else}}
                            ?
                        {{/if}}
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
</div>