<div class="item-post">
    <div class="post-header">
        <img src="{{img}}">
        <h4>{{name}}</h4>
    </div>
    {{{summary}}}
</div>
{{log this}}
{{#if item.system.availability}}
<button type="button" class="availability">{{localize "IMPMAL.Availability"}}</button>
{{/if}}