<div class="item-post">
    <div class="post-header">
        <img src="{{img}}">
        <h4>{{name}}</h4>
    </div>
    {{{summary}}}
</div>

<div class="flexrow">

    {{#if item.system.availability}}
    <button type="button" data-action="rollAvailability">{{localize "IMPMAL.Availability"}}</button>
    {{/if}}

    {{#if item.system.isPhysical}}
        <button type="button" data-action="buyItem">{{localize "IMPMAL.Buy" cost=item.system.cost}}</button>
    {{/if}}

</div>