<form class="{{cssClass}}" autocomplete="off">

    {{> systems/impmal/templates/item/partials/item-header.hbs isPhysical=isPhysical}}

    <section class="tab-section">
        <nav class="sheet-tabs tabs">
            {{#if (isGM)}}
                <a class="tab-select item active" data-tab="notes-patron">{{localize "IMPMAL.DescriptionPatron"}}</a>
                <a class="tab-select item" data-tab="details-patron">{{localize "IMPMAL.DetailsPatron"}}</a>
                <a class="tab-select item" data-tab="notes-character">{{localize "IMPMAL.DescriptionCharacter"}}</a>
                <a class="tab-select item" data-tab="details-character">{{localize "IMPMAL.DetailsCharacter"}}</a>
            {{else}}
                <a class="tab-select item" data-tab="notes-character">{{localize "IMPMAL.Description"}}</a>
                <a class="tab-select item" data-tab="details-character">{{localize "IMPMAL.Details"}}</a>
            {{/if}}
        </nav>
        <div class="tab-content">
            <div class="tab notes" data-tab="notes-patron">
                {{> systems/impmal/templates/item/partials/item-patron-notes.hbs}}
            </div>
            <div class="tab details" data-tab="details-patron">

                {{> systems/impmal/templates/item/partials/influence.hbs factions=system.patron.influence.factions path="system.patron.influence" showNotes=false}}

                <div class="form-group">
                    <label></label>
                    <div class="form-fields">

                    </div>
                </div>
            </div>
            <div class="tab notes" data-tab="notes-character">
                {{> systems/impmal/templates/item/partials/item-character-notes.hbs}}
            </div>
            <div class="tab details" data-tab="details-character">
                <div class="form-group">
                    <label>{{localize "IMPMAL.Characteristic"}}</label>
                    <div class="form-fields">
                        <select name="system.character.characteristics.base">
                            {{#select system.character.characteristics.base}}
                                <option value=""></option>
                                {{#each (config "characteristics")}}
                                    <option value="{{@key}}">{{this}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>

                <div class="form-groups-stacked checkbox-list">
                    <label>{{localize "IMPMAL.Choices"}}</label>
                    <div class="fields checkbox-array" data-path="system.character.characteristics.choices">
                        {{#each (config "characteristics")}}
                            <div class="checkbox-group">
                                <input type="checkbox" data-value="{{@key}}" {{checked (includes
                                    ../system.character.characteristics.choices @key)}}>
                                {{this}}
                            </div>
                        {{/each}}
                    </div>
                </div>
                <hr>

                <div class="form-groups-stacked checkbox-list">
                    <label><input type="number" name="system.character.advances.value"
                            value="{{system.character.advances.value}}">{{localize 'IMPMAL.SkillAdvances'}} </label>
                    <div class="fields checkbox-array" data-path="system.character.advances.skills">
                        {{#each (config "skills")}}
                            <div class="checkbox-group">
                                <input type="checkbox" data-value="{{@key}}" {{checked (includes
                                    ../system.character.advances.skills @key)}}>
                                {{this}}
                            </div>
                        {{/each}}
                    </div>
                </div>

                <hr>
                {{> systems/impmal/templates/item/partials/influence.hbs factions=system.character.influence.factions path="system.character.influence" showNotes=false}}
                <hr>
                {{> systems/impmal/templates/item/partials/item-choices.hbs label='IMPMAL.Talents' display=item.system.character.talents.textDisplay path='character.talents'}}
                <hr>
                {{> systems/impmal/templates/item/partials/item-choices.hbs label='IMPMAL.Equipment' display=item.system.character.equipment.textDisplay path='character.equipment'}}

                <div class="form-group">
                    <label>
                        <input type="number" value="{{system.character.solars}}" name="system.character.solars">
                        {{localize "IMPMAL.Solars"}}
                    </label>
                </div>
            </div>
        </div>
    </section>
</form>