<form class="{{cssClass}}" autocomplete="off">

    {{> systems/impmal/templates/item/partials/item-header.hbs isPhysical=isPhysical}}

    <section class="tab-section">
        <nav class="sheet-tabs tabs">
            <a class="tab-select item active" data-tab="notes">{{localize "IMPMAL.Description"}}</a>
            <a class="tab-select item" data-tab="details">{{localize "IMPMAL.Details"}}</a>
            <a class="tab-select item" data-tab="effects">{{localize "IMPMAL.Effects"}}</a>
        </nav>
        <div class="tab-content">
            <div class="tab notes" data-tab="notes">
                {{> systems/impmal/templates/item/partials/item-notes.hbs}}
            </div>
            <div class="tab details" data-tab="details">

                <div class="form-group">
                    <label>{{localize "IMPMAL.Category"}}</label>
                    <div class="form-fields">
                        <select name="system.category">
                            {{#select system.category}}
                                {{#each (config "protectionTypes")}}
                                    <option value="{{@key}}">{{this}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "IMPMAL.Armour"}}</label>
                    <div class="form-fields">
                        <input type="number" value="{{system.armour}}" name="system.armour">
                    </div>
                </div>

                <div class="form-group">
                    <label>{{localize "IMPMAL.Locations"}}</label>
                    <div class="form-fields">
                        <input type="text" value="{{system.locations.label}}" name="system.locations.label">
                    </div>
                </div>


                <div class="locations">
                    <label>{{localize "IMPMAL.LocationKeys"}} <a class="array-create" data-target="system.locations"><i class="fa-solid fa-plus"></i></a></label>
                    <div class="location-keys array">
                        {{#each system.locations.list}}
                            <div class="array-group" data-index="{{@key}}" data-target="system.locations">
                                <input class="array-edit" type="text" value="{{this}}">
                                <a class="array-delete"><i class="fa-solid fa-xmark"></i></a>
                            </div>
                        {{/each}}
                    </div>
                </div>
                
                {{> systems/impmal/templates/item/partials/item-traits.hbs}}

            </div>
            <div class="tab effects" data-tab="effects">
                {{> systems/impmal/templates/item/partials/item-effects.hbs}}
            </div>
        </div>
    </section>
</form>