<form class="{{cssClass}}" autocomplete="off">

    {{> systems/impmal/templates/item/partials/item-header.hbs isPhysical=isPhysical}}

    <section class="tab-section">

        <div class="form-group">
                    <label>{{localize "IMPMAL.Category"}}</label>
                    <div class="form-fields">
                        <select name="system.category">
                            {{#select system.category}}
                                    <option value="character">{{localize "TYPES.Actor.character"}}</option>
                                    <option value="patron">{{localize "TYPES.Actor.patron"}}</option>
                            {{/select}}
                        </select>
                    </div>
                </div>

        <nav class="sheet-tabs tabs">
            {{#if (eq system.category "character")}}
                <a class="tab-select item active" data-tab="notes-character">{{localize "IMPMAL.Description"}}</a>
                <a class="tab-select item" data-tab="details-character">{{localize "IMPMAL.Details"}}</a>
            {{else}}
                <a class="tab-select item" data-tab="notes-patron">{{localize "IMPMAL.Description"}}</a>
                <a class="tab-select item" data-tab="details-patron">{{localize "IMPMAL.Details"}}</a>
            {{/if}}
        </nav>
        <div class="tab-content">
            <div class="tab notes-tab" data-tab="notes-patron">
                {{> systems/impmal/templates/item/partials/item-patron-notes.hbs}}
            </div>
            <div class="tab details" data-tab="details-patron">

                <div class="form-group">
                    <label>{{localize "IMPMAL.Faction"}}</label>
                    <div class="form-fields">
                        <div class="compact-list" data-path="system.faction">
                            <a data-id="{{system.faction.id}}">{{system.faction.name}}</a>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{localize "IMPMAL.Boon"}}</label>
                    <div class="form-fields">
                        <div class="compact-list" data-path="system.patron.boon">
                            <a data-id="{{system.patron.boon.id}}">{{system.patron.boon.name}}</a>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>{{localize "IMPMAL.TableBoon"}}</label>
                    <div class="form-fields">
                        <div class="compact-list table-drop" data-path="system.patron.boonTable">
                            <a data-id="{{system.patron.boonTable.id}}">{{system.patron.boonTable.name}}</a>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{localize "IMPMAL.TableLiability"}}</label>
                    <div class="form-fields">
                        <div class="compact-list table-drop" data-path="system.patron.liabilityTable">
                            <a data-id="{{system.patron.liabilityTable.id}}">{{system.patron.liabilityTable.name}}</a>
                        </div>
                    </div>
                </div>

                <hr> 

                {{> systems/impmal/templates/item/partials/influence.hbs factions=system.patron.influence.factions path="system.patron.influence" showNotes=false}}

            </div>
            <div class="tab notes-tab" data-tab="notes-character">
                {{> systems/impmal/templates/item/partials/item-character-notes.hbs}}
            </div>
            <div class="tab details" data-tab="details-character">
                <div class="form-groups-stacked property-list">
                    <label>{{localize "IMPMAL.Characteristics"}}</label>
                    <div class="fields">
                        {{#each (config "characteristics")}}
                            <div class="property-group">
                                <input type="number" name="system.character.characteristics.{{@key}}"
                                    value="{{lookup ../system.character.characteristics @key}}">
                                {{this}}
                            </div>
                        {{/each}}
                    </div>
                </div>
                <hr>

                <div class="form-groups-stacked property-list">
                    <label>{{localize 'IMPMAL.SkillAdvances'}} </label>
                    <div class="fields" data-path="system.character.skills">
                        {{#each (config "skills")}}
                            <div class="property-group">
                                <input type="number" name="system.character.skills.{{@key}}"
                                    value="{{lookup ../system.character.skills @key}}">
                                {{this}}
                            </div>
                        {{/each}}
                    </div>
                </div>

                <hr>
                {{> systems/impmal/templates/item/partials/influence.hbs factions=system.character.influence.factions path="system.character.influence" showNotes=false}}
                <hr>
                {{> systems/impmal/templates/item/partials/item-choices.hbs label='Items' display=item.system.character.items.textDisplay path='character.items'}}


                <div class="form-group">
                    <label>
                        {{localize "IMPMAL.Solars"}}
                    </label>
                    <input type="number" value="{{system.character.solars}}" name="system.character.solars">
                </div>
            </div>
        </div>
    </section>
</form>