<form class="{{cssClass}}" autocomplete="off">

    {{> systems/impmal/templates/items/partials/item-header.hbs isPhysical=isPhysical}}

    <section class="tab-section">
        <nav class="sheet-tabs tabs">
            <a class="tab-select item active" data-tab="notes-patron">{{localize "IMPMAL.DescriptionPatron"}}</a>
            <a class="tab-select item" data-tab="details-patron">{{localize "IMPMAL.DetailsPatron"}}</a>
            <a class="tab-select item" data-tab="notes-character">{{localize "IMPMAL.DescriptionCharacter"}}</a>
            <a class="tab-select item" data-tab="details-character">{{localize "IMPMAL.DetailsCharacter"}}</a>
        </nav>
        <div class="tab-content">
            <div class="tab notes" data-tab="notes-patron">
                {{> systems/impmal/templates/items/partials/item-patron-notes.hbs}}
            </div>
            <div class="tab details" data-tab="details-patron">

            </div>
            <div class="tab notes" data-tab="notes-character">
                {{> systems/impmal/templates/items/partials/item-character-notes.hbs}}
            </div>
            <div class="tab details" data-tab="details-character">

            </div>
        </div>
    </section>
</form>