<form class="{{cssClass}}" autocomplete="off">

    {{> systems/impmal/templates/item/partials/item-header.hbs isPhysical=isPhysical}}

    <section class="tab-section">
        <nav class="sheet-tabs tabs">
            <a class="tab-select item active" data-tab="notes">{{localize "IMPMAL.Description"}}</a>
            <a class="tab-select item" data-tab="details">{{localize "IMPMAL.Details"}}</a>
            <a class="tab-select item" data-tab="effects">{{localize "IMPMAL.Effects"}}</a>
        </nav>
        <div class="tab-content">
            <div class="tab notes" data-tab="notes">
                {{> systems/impmal/templates/item/partials/item-notes.hbs}}
            </div>
            <div class="tab details" data-tab="details">
                <div class="trait-toggles">
                    <div>
                        <label>{{localize "IMPMAL.Attack"}}</label>
                        <input type="checkbox" name="system.attack.enabled" {{checked system.attack.enabled}}>
                    </div>
                    <div>
                        <label>{{localize "IMPMAL.Test"}}</label>
                        <input type="checkbox" name="system.test.enabled" {{checked system.test.enabled}}>
                    </div>
                    <div>
                        <label>{{localize "IMPMAL.Roll"}}</label>
                        <input type="checkbox" name="system.roll.enabled" {{checked system.roll.enabled}}>
                    </div>
                </div>

                {{#if system.attack.enabled}}
                    <hr>
                    <h3>{{localize "IMPMAL.Attack"}}</h3>
                    <div class="form-group">
                        <label>{{localize "IMPMAL.AttackType"}}</label>
                        <div class="form-fields">
                            <select name="system.attack.type">
                                {{#select system.attack.type}}
                                    <option value="melee">{{localize "IMPMAL.Melee"}}</option>
                                    <option value="ranged">{{localize "IMPMAL.Ranged"}}</option>
                                {{/select}}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{localize "IMPMAL.Difficulty"}}</label>
                        <div class="form-fields">
                            <select name="system.attack.difficulty">
                                {{#select system.attack.difficulty}}
                                    {{#each (config "difficulties")}}
                                        <option value="{{@key}}">{{this.name}} ({{numberFormat this.modifier
                                            sign=true}})
                                        </option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>{{localize "IMPMAL.Characteristic"}}</label>
                        <div class="form-fields">
                            <select name="system.attack.characteristic">
                                {{#select system.attack.characteristic}}
                                    <option value=""></option>
                                    {{#each (config "characteristics")}}
                                        <option value="{{@key}}">{{this}}</option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{localize "IMPMAL.Skill"}}</label>
                        <div class="form-fields">
                            <select name="system.attack.skill.key">
                                {{#select system.attack.skill.key}}
                                    {{#each (config "skills")}}
                                        <option value="{{@key}}">{{this}}</option>
                                    {{/each}}
                                {{/select}}
                            </select>
                            <input type="text" name="system.attack.skill.specialisation"
                                value="{{system.attack.skill.specialisation}}"
                                placeholder="{{localize 'IMPMAL.Specialisation'}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{localize "IMPMAL.Damage"}}</label>
                        <div class="form-fields">
                            <select name="system.attack.damage.characteristic">
                                {{#select system.attack.damage.characteristic}}
                                    <option value=""></option>
                                    {{#each (config "characteristics")}}
                                        <option value="{{@key}}">{{this}}</option>
                                    {{/each}}
                                {{/select}}
                            </select>
                            <input type="text" name="system.attack.damage.base" value="{{system.attack.damage.base}}">
                            <input type="checkbox" name="system.attack.damage.SL" value="{{system.attack.damage.SL}}"
                                {{checked system.attack.damage.SL}}>
                            <label>+SL</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{localize "IMPMAL.Range"}}</label>
                        <div class="form-fields">
                            <select name="system.attack.range">
                                {{#select system.attack.range}}
                                    <option value=""></option>
                                    {{#each (config "ranges")}}
                                        <option value="{{@key}}">{{this}}</option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{localize "IMPMAL.Traits"}} <a class="edit-traits"><i
                                    class="fa-solid fa-gear"></i></a></label>
                        <div class="form-fields">
                            <input type="text" value="{{item.system.attack.traits.original.displayString}}" disabled>
                        </div>
                    </div>
                {{/if}}

                {{#if system.test.enabled}}
                    <hr>
                    <h3>{{localize "IMPMAL.Target"}}</h3>
                    <div class="form-group">
                        <label>{{localize "IMPMAL.Target"}}</label>
                        <div class="form-fields">
                            <select name="system.test.target">
                                {{#select system.test.target}}
                                    <option value="self">{{localize "IMPMAL.Self"}}</option>
                                    <option value="targets">{{localize "IMPMAL.Targets"}}</option>
                                    <option value="damage">{{localize "IMPMAL.Damage"}}</option>
                                {{/select}}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{localize "IMPMAL.Difficulty"}}</label>
                        <div class="form-fields">
                            <select name="system.test.difficulty">
                                {{#select system.test.difficulty}}
                                    {{#each (config "difficulties")}}
                                        <option value="{{@key}}">{{this.name}} ({{numberFormat this.modifier
                                            sign=true}})
                                        </option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>{{localize "IMPMAL.Characteristic"}}</label>
                        <div class="form-fields">
                            <select name="system.test.characteristic">
                                {{#select system.test.characteristic}}
                                    <option value=""></option>
                                    {{#each (config "characteristics")}}
                                        <option value="{{@key}}">{{this}}</option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{localize "IMPMAL.Skill"}}</label>
                        <div class="form-fields">
                            <select name="system.test.skill.key">
                                {{#select system.test.skill.key}}
                                    {{#each (config "skills")}}
                                        <option value="{{@key}}">{{this}}</option>
                                    {{/each}}
                                {{/select}}
                            </select>
                            <input type="text" name="system.test.skill.specialisation"
                                value="{{system.test.skill.specialisation}}"
                                placeholder="{{localize 'IMPMAL.Specialisation'}}">
                        </div>
                    </div>
                {{/if}}

                {{#if system.roll.enabled}}
                    <hr>
                    <h3>{{localize "IMPMAL.Roll"}}</h3>
                    <div class="form-group">
                        <label>{{localize "Formula"}}</label>
                        <div class="form-fields">
                            <input type="text" name="system.roll.formula" value="{{system.roll.formula}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{localize "Label"}}</label>
                        <div class="form-fields">
                            <input type="text" name="system.roll.label" value="{{system.roll.label}}">
                        </div>
                    </div>
                {{/if}}
            </div>
            <div class="tab effects" data-tab="effects">
                {{> systems/impmal/templates/item/partials/item-effects.hbs}}
            </div>
        </div>
    </section>
</form>