<form class="{{cssClass}}" autocomplete="off">

    {{> systems/impmal/templates/item/partials/item-header.hbs isPhysical=isPhysical}}

    <section class="tab-section">
        <nav class="sheet-tabs tabs">
            <a class="tab-select item active" data-tab="notes">{{localize "IMPMAL.Description"}}</a>
            <a class="tab-select item" data-tab="details">{{localize "IMPMAL.Details"}}</a>
            <a class="tab-select item" data-tab="effects">{{localize "IMPMAL.Effects"}}</a>
        </nav>
        <div class="tab-content">
            <div class="tab notes" data-tab="notes">
                {{> systems/impmal/templates/item/partials/item-notes.hbs}}
            </div>
            <div class="tab details" data-tab="details">

                <section class="list">
                    <header class="list-row">
                        <div class="list-name">{{localize "IMPMAL.Talents"}}</div>
                        <div class="list-controls">
                            <input type="number" name="system.talents.number" value="{{system.talents.number}}"
                                placeholder="#">
                        </div>
                    </header>
                    <div class="list-content">
                        {{#each item.system.talents.documents}}
                            <div class="list-item" data-id="{{this.id}}" data-path="system.talents">
                                <div class="list-row">
                                    <div class="list-name list-edit">
                                        <img src="{{this.img}}">
                                        <a>{{this.name}}</a>
                                    </div>
                                    <div class="list-controls">
                                        <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </div>
                                <div class="summary">

                                </div>
                            </div>
                        {{/each}}
                    </div>
                </section>

                <hr>

                <div class="form-groups-stacked checkbox-list">
                    <label><input type="number" name="system.skills.value"
                            value="{{system.skills.value}}">{{localize 'IMPMAL.SkillAdvances'}} </label>
                    <div class="fields checkbox-array" data-path="system.skills.list">
                        {{#each (config "skills")}}
                            <div class="checkbox-group">
                                <input type="checkbox" data-value="{{@key}}" {{checked (includes ../system.skills.list
                                    @key)}}>
                                {{this}}
                            </div>
                        {{/each}}
                    </div>
                </div>
                <hr>
                <div class="form-groups-stacked checkbox-list">
                    <label><input type="number" name="system.specialisations.value"
                            value="{{system.specialisations.value}}">{{localize 'IMPMAL.SpecialisationAdvances'}}
                    </label>
                    <div class="fields checkbox-array" data-path="system.specialisations.keys">
                        {{#each (config "skills")}}
                            <div class="checkbox-group">
                                <input type="checkbox" data-value="{{@key}}" {{checked (includes
                                    ../system.specialisations.keys @key)}}>
                                {{this}}
                            </div>
                        {{/each}}
                    </div>
                </div>

                <section class="list">

                    <div class="list-content">
                        {{#each item.system.specialisations.documents}}
                            <div class="list-item" data-id="{{this.id}}" data-path="system.specialisations">
                                <div class="list-row">
                                    <div class="list-name list-edit">
                                        <img src="{{this.img}}">
                                        <a>{{this.system.skillName}}</a>
                                    </div>
                                    <div class="list-controls">
                                        <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </div>
                                <div class="summary">

                                </div>
                            </div>
                        {{/each}}
                    </div>
                </section>
                <hr>

                {{> systems/impmal/templates/item/partials/item-choices.hbs label='IMPMAL.Equipment' display=item.system.equipment.textDisplay path='equipment'}}


            </div>
            <div class="tab effects" data-tab="effects">
                {{> systems/impmal/templates/item/partials/item-effects.hbs}}
            </div>
        </div>
    </section>
</form>