<form class="{{cssClass}}" autocomplete="off">

    {{> systems/impmal/templates/item/partials/item-header.hbs isPhysical=isPhysical}}

    <section class="tab-section">
        <nav class="sheet-tabs tabs">
            <a class="tab-select item active" data-tab="notes">{{localize "IMPMAL.Description"}}</a>
            <a class="tab-select item" data-tab="details">{{localize "IMPMAL.Details"}}</a>
            <a class="tab-select item" data-tab="effects">{{localize "IMPMAL.Effects"}}</a>
        </nav>
        <div class="tab-content">
            <div class="tab notes" data-tab="notes">
                {{> systems/impmal/templates/item/partials/item-notes.hbs}}
            </div>
            <div class="tab details" data-tab="details">
                <div class="form-group">
                    <label>{{localize "IMPMAL.Discipline"}}</label>
                    <div class="form-fields">
                        <select name="system.discipline">
                            {{#select system.discipline}}
                                {{#each (config "disciplines")}}
                                    <option value="{{@key}}">{{this}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "IMPMAL.WarpRating"}}</label>
                    <div class="form-fields">
                        <input type="number" value="{{system.rating}}" name="system.rating">
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "IMPMAL.Difficulty"}}</label>
                    <div class="form-fields">
                        <select name="system.difficulty">
                            {{#select system.difficulty}}
                                {{#each (config "difficulties")}}
                                    <option value="{{@key}}">{{this.name}} ({{numberFormat this.modifier sign=true}})
                                    </option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "IMPMAL.Range"}}</label>
                    <div class="form-fields">
                        <select name="system.range">
                            {{#select system.range}}
                                <option value=""></option>
                                {{#each (config "powerRanges")}}
                                    <option value="{{@key}}">{{this}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "IMPMAL.Target"}}</label>
                    <div class="form-fields">
                        <input type="text" value="{{system.target}}" name="system.target">
                    </div>  
                </div>
                <div class="form-group">
                    <label>{{localize "IMPMAL.Duration"}}</label>
                    <div class="form-fields">
                        <select name="system.duration">
                            {{#select system.duration}}
                                <option value=""></option>
                                {{#each (config "powerDurations")}}
                                    <option value="{{@key}}">{{this}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>

                {{> systems/impmal/templates/item/partials/item-damage.hbs}}

                <div class="form-group">
                    <label>{{localize "IMPMAL.Overt"}}</label>
                    <div class="form-fields">
                        <input type="checkbox" name="system.overt" {{checked system.overt}}>
                    </div>
                </div>

                
                <fieldset>
                    <legend>{{localize "Opposed"}}</legend>
                    <div class="form-group">
                        <label>{{localize "IMPMAL.Difficulty"}}</label>
                        <div class="form-fields">
                            <select name="system.opposed.difficulty">
                                {{#select system.opposed.difficulty}}
                                    <option value=""></option>
                                    {{#each (config "difficulties")}}
                                        <option value="{{@key}}">{{this.name}} ({{numberFormat this.modifier
                                            sign=true}})
                                        </option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>{{localize "IMPMAL.Characteristic"}}</label>
                        <div class="form-fields">
                            <select name="system.opposed.characteristic">
                                {{#select system.opposed.characteristic}}
                                    <option value=""></option>
                                    {{#each (config "characteristics")}}
                                        <option value="{{@key}}">{{this}}</option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{localize "IMPMAL.Skill"}}</label>
                        <div class="form-fields">
                            <select name="system.opposed.skill.key">
                                {{#select system.opposed.skill.key}}
                                    <option value=""></option>
                                    {{#each (config "skills")}}
                                        <option value="{{@key}}">{{this}}</option>
                                    {{/each}}
                                {{/select}}
                            </select>
                            <input type="text" name="system.opposed.skill.specialisation"
                                value="{{system.opposed.skill.specialisation}}"
                                placeholder="{{localize 'IMPMAL.Specialisation'}}">
                        </div>
                    </div>
                </fieldset>


            </div>
            <div class="tab effects" data-tab="effects">
                {{> systems/impmal/templates/item/partials/item-effects.hbs}}
            </div>
        </div>
    </section>
</form>