<form class="{{cssClass}}" autocomplete="off">

    {{> systems/impmal/templates/item/partials/item-header.hbs isPhysical=isPhysical}}

    <section class="tab-section">
        <nav class="sheet-tabs tabs">
            {{#if (isGM)}}
                <a class="tab-select item active" data-tab="notes-patron">{{localize "IMPMAL.DescriptionPatron"}}</a>
                <a class="tab-select item" data-tab="details-patron">{{localize "IMPMAL.DetailsPatron"}}</a>
                <a class="tab-select item" data-tab="notes-character">{{localize "IMPMAL.DescriptionCharacter"}}</a>
                <a class="tab-select item" data-tab="details-character">{{localize "IMPMAL.DetailsCharacter"}}</a>
            {{else}}
                <a class="tab-select item" data-tab="notes-character">{{localize "IMPMAL.Description"}}</a>
                <a class="tab-select item" data-tab="details-character">{{localize "IMPMAL.Details"}}</a>
            {{/if}}
        </nav>
        <div class="tab-content">
            <div class="tab notes" data-tab="notes-patron">
                {{> systems/impmal/templates/item/partials/item-patron-notes.hbs}}
            </div>
            <div class="tab details" data-tab="details-patron">
                {{> systems/impmal/templates/shared/influence.hbs factions=system.patron.influence.factions path="system.patron.influence" showNotes=false}}
            </div>
            <div class="tab notes" data-tab="notes-character">
                {{> systems/impmal/templates/item/partials/item-character-notes.hbs}}
            </div>
            <div class="tab details" data-tab="details-character">
                <div class="form-groups-stacked property-list">
                    <label>{{localize "IMPMAL.Characteristics"}}</label>
                    <div class="fields">
                        {{#each (config "characteristics")}}
                            <div class="property-group">
                                <input type="number" name="system.character.characteristics.{{@key}}"
                                    value="{{lookup ../system.character.characteristics @key}}">
                                {{this}}
                            </div>
                        {{/each}}
                    </div>
                </div>
                <hr>

                <div class="form-groups-stacked property-list">
                    <label>{{localize 'IMPMAL.SkillAdvances'}} </label>
                    <div class="fields" data-path="system.character.skills">
                        {{#each (config "skills")}}
                            <div class="property-group">
                                <input type="number" name="system.character.skills.{{@key}}"
                                    value="{{lookup ../system.character.skills @key}}">
                                {{this}}
                            </div>
                        {{/each}}
                    </div>
                </div>

                <hr>
                {{> systems/impmal/templates/shared/influence.hbs factions=system.character.influence.factions path="system.character.influence" showNotes=false}}
                <hr>
                {{> systems/impmal/templates/item/partials/item-choices.hbs label='Items' display=item.system.character.items.textDisplay path='character.items'}}

                <div class="form-group">
                    <label>
                        <input type="number" value="{{system.character.solars}}" name="system.character.solars">
                        {{localize "IMPMAL.Solars"}}
                    </label>
                </div>
            </div>
        </div>
    </section>
</form>