<form class="{{cssClass}}" autocomplete="off">

    {{> systems/impmal/templates/item/partials/item-header.hbs isPhysical=isPhysical}}

    <section class="tab-section">
        <nav class="sheet-tabs tabs">
            <a class="tab-select item active" data-tab="notes">{{localize "IMPMAL.Description"}}</a>
            <a class="tab-select item" data-tab="details">{{localize "IMPMAL.Details"}}</a>
            <a class="tab-select item" data-tab="effects">{{localize "IMPMAL.Effects"}}</a>
        </nav>
        <div class="tab-content">
            <div class="tab notes-tab" data-tab="notes">
                {{> systems/impmal/templates/item/partials/item-notes.hbs}}
            </div>
            <div class="tab details" data-tab="details">
                <div class="form-group">
                    <label>{{localize "IMPMAL.AttackType"}}</label>
                    <div class="form-fields">
                        <select name="system.attackType">
                            {{#select system.attackType}}
                                <option value="melee">{{localize "IMPMAL.Melee"}}</option>
                                <option value="ranged">{{localize "IMPMAL.Ranged"}}</option>
                            {{/select}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "IMPMAL.Category"}}</label>
                    <div class="form-fields">
                        <select name="system.category">
                            {{#select system.category}}
                                <option value=""></option>
                                {{log system}}
                                {{#if item.system.isMelee}}
                                    {{#each (config "meleeTypes")}}
                                        <option value="{{@key}}">{{this}}</option>
                                    {{/each}}
                                {{else}}
                                    {{#each (config "rangedTypes")}}
                                        <option value="{{@key}}">{{this}}</option>
                                    {{/each}}
                                {{/if}}
                            {{/select}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "IMPMAL.Specialisation"}}</label>
                    <div class="form-fields">
                        <select name="system.spec">
                            {{#select system.spec}}
                                <option value=""></option>
                                {{#if item.system.isMelee}}
                                    {{#each (config "meleeSpecs")}}
                                        <option value="{{@key}}">{{this}}</option>
                                    {{/each}}
                                {{else}}
                                    {{#each (config "rangedSpecs")}}
                                        <option value="{{@key}}">{{this}}</option>
                                    {{/each}}
                                {{/if}}
                            {{/select}}
                        </select>
                    </div>
                </div>

                {{> systems/impmal/templates/item/partials/item-damage.hbs}}

                {{#if item.system.isRanged}}
                    <div class="form-group">
                        <label>{{localize "IMPMAL.Range"}}</label>
                        <div class="form-fields">
                            <select name="system.range">
                                {{#select system.range}}
                                    <option value=""></option>
                                    {{#each (config "ranges")}}
                                        <option value="{{@key}}">{{this}}</option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{localize "IMPMAL.Mag"}}</label>
                        <div class="form-fields">
                            <input type="number" name="system.mag.value" value="{{system.mag.value}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{localize "IMPMAL.AmmoCost"}}</label>
                        <div class="form-fields">
                            <input type="number" name="system.ammoCost" value="{{system.ammoCost}}">
                            <a class="buy-ammo" data-tooltip="{{localize 'IMPMAL.BuyAmmo'}}"><img src="systems/impmal/assets/icons/ammo-box.svg"></a>
                        </div>
                    </div>
                {{/if}}

                {{> systems/impmal/templates/item/partials/item-traits.hbs}}

                <section class="list">
                    <header class="list-row">
                        <div class="list-name" data-tooltip="{{localize "IMPMAL.DragModifications"}}">{{localize "IMPMAL.Modifications"}} <i class="fa-regular fa-circle-question"></i></div>
                    </header>
                    <div class="list-content">
                        {{#each item.system.mods.documents}}
                            <div class="list-item {{#if this.system.disabled}}inactive{{/if}}" data-index="{{@key}}" data-target="system.mods">
                                <div class="list-row">
                                    <div class="list-name">
                                        <img src="{{this.img}}">
                                        <a class="mod-sheet">{{this.name}}</a>
                                        </div>
                                        <div class="list-controls">
                                            {{#if this.system.disabled}}
                                                <a class="mod-toggle"><i class="fa-regular fa-circle"></i></a>
                                            {{else}}
                                                <a class="mod-toggle"><i class="fa-regular fa-circle-check"></i></a>
                                            {{/if}}
                                            <a class="mod-delete"><i class="fa-solid fa-xmark"></i></a>
                                        </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </section>

            </div>
            <div class="tab effects" data-tab="effects">
                {{> systems/impmal/templates/item/partials/item-effects.hbs}}
            </div>
        </div>
    </section>
</form>