<form class="{{cssClass}}" autocomplete="off">

    {{> systems/impmal/templates/item/partials/item-header.hbs isPhysical=isPhysical}}

    <section class="tab-section">
        <nav class="sheet-tabs tabs">
            <a class="tab-select item active" data-tab="notes">{{localize "IMPMAL.Description"}}</a>
            <a class="tab-select item" data-tab="details">{{localize "IMPMAL.Details"}}</a>
            <a class="tab-select item" data-tab="effects">{{localize "IMPMAL.Effects"}}</a>
        </nav>
        <div class="tab-content">
            <div class="tab notes" data-tab="notes">
                {{> systems/impmal/templates/item/partials/item-notes.hbs}}
            </div>
            <div class="tab details" data-tab="details">
                <div class="form-group">
                    <label>{{localize "IMPMAL.AttackType"}}</label>
                    <div class="form-fields">
                        <select name="system.attackType">
                            {{#select system.attackType}}
                            <option value="melee">Melee</option>
                            <option value="ranged">Ranged</option>
                            {{/select}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "IMPMAL.Category"}}</label>
                    <div class="form-fields">
                        <select name="system.category">
                            {{#select system.category}}
                                <option value=""></option>
                                {{#if (eq system.attackType "melee")}}
                                    {{#each (config "meleeTypes")}}
                                        <option value="{{@key}}">{{this}}</option>
                                    {{/each}}
                                {{else}}
                                    {{#each (config "rangedTypes")}}
                                        <option value="{{@key}}">{{this}}</option>
                                    {{/each}}
                                {{/if}}
                            {{/select}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "IMPMAL.Specialisation"}}</label>
                    <div class="form-fields">
                        <select name="system.spec">
                            {{#select system.spec}}
                                <option value=""></option>
                                {{#if (eq system.attackType "melee")}}
                                    {{#each (config "meleeSpecs")}}
                                        <option value="{{@key}}">{{this}}</option>
                                    {{/each}}
                                {{else}}
                                    {{#each (config "rangedSpecs")}}
                                        <option value="{{@key}}">{{this}}</option>
                                    {{/each}}
                                {{/if}}
                            {{/select}}
                        </select>
                    </div>
                </div>

                {{> systems/impmal/templates/item/partials/item-damage.hbs}}

                <div class="form-group">
                    <label>{{localize "IMPMAL.Range"}}</label>
                    <div class="form-fields">
                        <select name="system.range">
                            {{#select system.range}}
                                <option value=""></option>
                                {{#each (config "ranges")}}
                                    <option value="{{@key}}">{{this}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "IMPMAL.Mag"}}</label>
                    <div class="form-fields">
                        <input type="number" name="system.mag" value="{{system.mag}}">
                    </div>
                </div>
                
                {{> systems/impmal/templates/item/partials/item-traits.hbs}}

            </div>
            <div class="tab effects" data-tab="effects">
                {{> systems/impmal/templates/item/partials/item-effects.hbs}}
            </div>
        </div>
    </section>
</form>