<form>
    <div class="flexcol">
        <div class="form-group">
            <label>{{localize "IMPMAL.UseItems"}}</label>
            <input class="use-items" type="checkbox" name="system.combat.armour.useItems" {{checked object.system.combat.armour.useItems}}>
            <p class="notes">{{localize "IMPMAL.UseItemsHint"}}</p>
        </div>
        <div class="armour-fields">
            <div class="form-group">
                <label>{{localize "IMPMAL.Armour"}}</label>
                <input type="number" name="system.combat.armour.value" value="{{object.system.combat.armour.value}}">
            </div>
            <div class="form-group">
                <label>{{localize "IMPMAL.Formula"}}</label>
                <input type="text" class="centered" name="system.combat.armour.formula" value="{{object.system.combat.armour.formula}}">
            </div>
        </div>
    </div>
    <button type="submit">{{localize "Submit"}}</button>
</form>