<form>
    <div>
        <div class="form-group">
            <label>{{localize "Name"}}</label>
            <div class="form-fields">
                <input type="text" name="name" value="{{object.option.name}}">
            </div>
        </div>
        {{#if (eq object.option.type "filter")}}
            <section class="list filters">
                <header class="list-row">
                    <div class="list-name">{{localize "IMPMAL.Filters"}}</div>
                    <div class="list-controls">
                        <a class="list-create"><i class="fa-solid fa-plus"></i></a>
                    </div>
                </header>
                <div class="list-content">
                    {{#each object.option.filters}}
                        <hr>
                        <div class="list-item filter" data-index="{{@key}}">
                            <div class="form-group">
                                <label>{{localize "IMPMAL.Path"}}</label>
                                <div class="form-fields">
                                    <input type="text" data-property="path" value="{{this.path}}">
                                </div>
                            </div>
                        </div>
                        <div class="list-item filter" data-index="{{@key}}">
                            <div class="form-group">
                                <label>{{localize "IMPMAL.Operation"}}</label>
                                <div class="form-fields">
                                    <input type="text" data-property="operation" value="{{this.operation}}" placeholder=">=, <=, >, <, =, includes">
                                </div>
                            </div>
                        </div>
                        <div class="list-item filter" data-index="{{@key}}">
                            <div class="form-group">
                                <label>{{localize "IMPMAL.Value"}}</label>
                                <div class="form-fields">
                                    <input type="text" data-property="value" value="{{this.value}}">
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </section>
        {{/if}}
    </div>
    <button type="submit">{{localize "IMPMAL.Submit"}}</button>
</form>