<form>
    <div class="directory">
        {{#unless (eq number 1)}}
            <label>{{localize "IMPMAL.ChooseNum" num=number}}</label>
        {{/unless}}
        {{#if text}}
            <p>{{{text}}}</p>
        {{/if}}
        <ol class="directory-list">
            {{#each documents}}
            <li class="directory-item document flexrow" data-document-id="{{this.id}}">
                {{#if this.img}}
                    <img class="thumbnail" src="{{this.img}}">
                {{/if}}
                <h4 class="entry-name document-name"><a>{{this.name}}</a></h4>
            </li>
            {{/each}}
        </ol>
    </div>
    <button type="submit">{{localize "Submit"}}</button>
</form>