<div class="impmal-effect-config">
    <div class="form-group">
        <label>{{localize "IMPMAL.EffectApplication"}}</label>
        <select name="flags.impmal.applicationData.type">
            {{#select applicationData.type}}
                {{#each (config "effectApplications")}}
                    <option value="{{@key}}">{{this}}</option>
                {{/each}}
            {{/select}}
        </select>
        <p class="notes">{{localize "IMPMAL.EffectApplicationHint"}}</p>
    </div>

    <fieldset>
        <legend>{{localize "IMPMAL.EffectApplicationOptions"}}</legend>

        {{#if (hasProperty this "applicationData.options.documentType")}}
            <div class="form-group">
                <label>{{localize "IMPMAL.EffectApplicationOptionDocumentType"}}</label>
                <select name="flags.impmal.applicationData.options.documentType">
                    {{#select applicationData.options.documentType}}
                        <option value="Actor">{{localize "Actor"}}</option>
                        {{#if (eq this.parent.type "boonLiability")}}
                            <option value="character">{{localize "TYPES.Actor.character"}}</option>
                        {{else if (eq this.parent.type "modification")}}
                            <option value="modItem">{{localize "IMPMAL.ModifiedItem"}}</option>
                        {{else}}
                            <option value="Item">{{localize "Item"}}</option>
                        {{/if}}
                    {{/select}}
                </select>
                <p class="notes">{{localize "IMPMAL.EffectApplicationOptionDocumentTypeHint"}}</p>
            </div>
        {{/if}}

        {{#if (eq applicationData.type "zone")}}
            <div class="form-group">
                <label>{{localize "IMPMAL.EffectApplicationOptionZoneType"}}</label>
                <select name="flags.impmal.applicationData.options.zoneType">
                    {{#select applicationData.options.zoneType}}
                    <option value="zone">{{localize "IMPMAL.ZoneTypeZoneEffect"}}</option>
                    <option value="tokens">{{localize "IMPMAL.ZoneTypeTokensInZone"}}</option>
                    <option value="follow">{{localize "IMPMAL.ZoneTypeFollowToken"}}</option>
                    {{/select}}
                </select>
                <p class="notes">{{{localize "IMPMAL.EffectApplicationOptionZoneTypeHint"}}}</p>
            </div>

            
            {{#if (eq applicationData.options.zoneType "zone")}}
                <div class="form-group">
                    <label>{{localize "IMPMAL.EffectApplicationOptionZoneKeep"}}</label>
                    <input type="checkbox" name="flags.impmal.applicationData.options.keep" {{checked applicationData.options.keep}}>
                    <p class="notes">{{localize "IMPMAL.EffectApplicationOptionZoneKeepHint"}}</p>
                </div>
            {{/if}}

            {{#if (eq applicationData.options.zoneType "follow")}}
                <div class="form-group">
                    <label>{{localize "IMPMAL.EffectApplicationOptionZoneSelf"}}</label>
                    <input type="checkbox" name="flags.impmal.applicationData.options.selfZone" {{checked flags.impmal.applicationData.options.selfZone}}>
                    <p class="notes">{{localize "IMPMAL.EffectApplicationOptionZoneSelfHint"}}</p>
                </div>
            {{/if}}
        {{/if}}

        {{#if (hasProperty this "applicationData.options.avoidTest")}}
            <div class="form-group">
                <label>{{localize "IMPMAL.EffectApplicationOptionAvoidTest"}}
                    {{#if (eq applicationData.options.avoidTest.value "script")}}<a class="script-config"
                            data-path="flags.impmal.applicationData.options.avoidTest.script"><i
                                class="fa-solid fa-gear-complex-code"></i></a>{{/if}}</label>
                <select name="flags.impmal.applicationData.options.avoidTest.value">
                    {{#select applicationData.options.avoidTest.value}}
                        <option value="none">{{localize "IMPMAL.EffectApplicationOptionAvoidTestNone"}}</option>
                        <option value="item">{{localize "IMPMAL.EffectApplicationOptionAvoidTestItem"}}</option>
                        <option value="script">{{localize "IMPMAL.EffectApplicationOptionAvoidTestScript"}}</option>
                        <option value="custom">{{localize "IMPMAL.EffectApplicationOptionAvoidTestCustom"}}</option>
                    {{/select}}
                </select>
                <p class="notes">{{localize "IMPMAL.EffectApplicationOptionAvoidTestHint"}}</p>
            </div>

            {{#if (eq applicationData.options.avoidTest.value "custom")}}
                <div class="form-group">
                    <label>{{localize "IMPMAL.Difficulty"}}</label>
                    <div class="form-fields">
                        <select name="flags.impmal.applicationData.options.avoidTest.difficulty">
                            {{#select flags.impmal.applicationData.options.avoidTest.difficulty}}
                                {{#each (config "difficulties")}}
                                    <option value="{{@key}}">{{this.name}} ({{numberFormat this.modifier
                                        sign=true}})
                                    </option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label>{{localize "IMPMAL.Characteristic"}}</label>
                    <div class="form-fields">
                        <select name="flags.impmal.applicationData.options.avoidTest.characteristic">
                            {{#select flags.impmal.applicationData.options.avoidTest.characteristic}}
                                <option value=""></option>
                                {{#each (config "characteristics")}}
                                    <option value="{{@key}}">{{this}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{localize "IMPMAL.Skill"}}</label>
                    <div class="form-fields">
                        <select name="flags.impmal.applicationData.options.avoidTest.skill.key">
                            {{#select flags.impmal.applicationData.options.avoidTest.skill.key}}
                                <option value=""></option>
                                {{#each (config "skills")}}
                                    <option value="{{@key}}">{{this}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                        <input type="text" name="flags.impmal.applicationData.options.avoidTest.skill.specialisation"
                            value="{{flags.impmal.applicationData.options.avoidTest.skill.specialisation}}"
                            placeholder="{{localize 'IMPMAL.Specialisation'}}">
                    </div>
                </div>
            {{/if}}
        {{/if}}
        {{#if (hasProperty this "applicationData.options.enableConditionScript")}}
            <div class="form-group">
                <label>{{localize "IMPMAL.EffectApplicationOptionEnableScript"}}<a class="script-config"
                        data-path="flags.impmal.applicationData.options.enableConditionScript"><i
                            class="fa-solid fa-gear-complex-code"></i></a></label>
                <p class="notes">{{localize "IMPMAL.EffectApplicationEnableScriptHint"}}</p>
            </div>
        {{/if}}
        {{#if (hasProperty this "applicationData.options.filter")}}
            <div class="form-group">
                <label>{{localize "IMPMAL.EffectApplicationOptionFilter"}}
                    <a class="script-config" data-path="flags.impmal.applicationData.options.filter">
                        <i class="fa-solid fa-gear-complex-code"></i>
                    </a>
                </label>
                <p class="notes">{{{localize "IMPMAL.EffectApplicationOptionFilterHint"}}}</p>
            </div>
        {{/if}}
        {{#if (hasProperty this "applicationData.options.prompt")}}
            <div class="form-group">
                <label>{{localize "IMPMAL.EffectApplicationOptionPrompt"}}</label>
                <input type="checkbox" name="flags.impmal.applicationData.options.prompt" {{checked flags.impmal.applicationData.options.prompt}}>
                <p class="notes">{{{localize "IMPMAL.EffectApplicationOptionPromptHint"}}}</p>
            </div>
        {{/if}}
        {{#if (hasProperty this "applicationData.options.consume")}}
            <div class="form-group">
                <label>{{localize "IMPMAL.EffectApplicationOptionConsume"}}</label>
                <p class="notes">{{localize "IMPMAL.EffectApplicationOptionConsumeHint"}}</p>
            </div>
        {{/if}}

    </fieldset>
</div>