<div class="impmal-effect-config">
    {{#with this.object}}
    <div class="form-group">
        <label>{{localize "IMPMAL.EffectApplication"}}</label>
        <select name="flags.impmal.applicationData.type">
            {{#select applicationData.type}}
                {{#each (config "effectApplications")}}
                    <option value="{{@key}}">{{this}}</option>
                {{/each}}
            {{/select}}
        </select>
        <p class="notes">{{localize "IMPMAL.EffectApplicationHint"}}</p>
    </div>

        {{#if (hasProperty this "applicationData.documentType")}}
            <div class="form-group">
                <label>{{localize "IMPMAL.EffectApplicationDocumentType"}}</label>
                <select name="flags.impmal.applicationData.documentType">
                    {{#select applicationData.documentType}}
                        <option value="Actor">{{localize "Actor"}}</option>
                        {{#if (eq this.parent.type "boonLiability")}}
                            <option value="character">{{localize "TYPES.Actor.character"}}</option>
                        {{!-- {{else if (eq this.parent.type "modification")}}
                            <option value="modItem">{{localize "IMPMAL.ModifiedItem"}}</option> --}}
                        {{else}}
                            <option value="Item">{{localize "Item"}}</option>
                        {{/if}}
                    {{/select}}
                </select>
                <p class="notes">{{localize "IMPMAL.EffectApplicationDocumentTypeHint"}}</p>
            </div>
        {{/if}}

        {{#if (eq applicationData.type "zone")}}
            <div class="form-group">
                <label>{{localize "IMPMAL.EffectApplicationZoneType"}}</label>
                <select name="flags.impmal.applicationData.zoneType">
                    {{#select applicationData.zoneType}}
                    <option value="zone">{{localize "IMPMAL.ZoneTypeZoneEffect"}}</option>
                    <option value="tokens">{{localize "IMPMAL.ZoneTypeTokensInZone"}}</option>
                    <option value="follow">{{localize "IMPMAL.ZoneTypeFollowToken"}}</option>
                    {{/select}}
                </select>
                <p class="notes">{{{localize "IMPMAL.EffectApplicationZoneTypeHint"}}}</p>
            </div>

            
            {{#if (eq applicationData.zoneType "zone")}}
                <div class="form-group">
                    <label>{{localize "IMPMAL.EffectApplicationZoneKeep"}}</label>
                    <input type="checkbox" name="flags.impmal.applicationData.keep" {{checked applicationData.keep}}>
                    <p class="notes">{{localize "IMPMAL.EffectApplicationZoneKeepHint"}}</p>
                </div>

                <div class="form-group">
                    <label>{{localize "IMPMAL.EffectApplicationZoneTraits"}} <a class="traits-config"><i class="fa-solid fa-gear"></i></a></label>
                    <input type="text" disabled value="{{../zoneTraitsDisplay}}">
                </div>
            {{/if}}

            {{#if (eq applicationData.zoneType "follow")}}
                <div class="form-group">
                    <label>{{localize "IMPMAL.EffectApplicationZoneSelf"}}</label>
                    <input type="checkbox" name="flags.impmal.applicationData.selfZone" {{checked flags.impmal.applicationData.selfZone}}>
                    <p class="notes">{{localize "IMPMAL.EffectApplicationZoneSelfHint"}}</p>
                </div>
            {{/if}}
        {{/if}}

        {{#if (hasProperty this "applicationData.avoidTest")}}
            <div class="form-group">
                <label>{{localize "IMPMAL.EffectApplicationAvoidTest"}}
                    {{#if (eq applicationData.avoidTest.value "script")}}<a class="script-config"
                            data-path="flags.impmal.applicationData.avoidTest.script"><i
                                class="fa-solid fa-gear-complex-code"></i></a>{{/if}}</label>
                <select name="flags.impmal.applicationData.avoidTest.value">
                    {{#select applicationData.avoidTest.value}}
                        <option value="none">{{localize "IMPMAL.EffectApplicationAvoidTestNone"}}</option>
                        <option value="item">{{localize "IMPMAL.EffectApplicationAvoidTestItem"}}</option>
                        <option value="script">{{localize "IMPMAL.EffectApplicationAvoidTestScript"}}</option>
                        <option value="custom">{{localize "IMPMAL.EffectApplicationAvoidTestCustom"}}</option>
                    {{/select}}
                </select>
                <p class="notes">{{localize "IMPMAL.EffectApplicationAvoidTestHint"}}</p>
            </div>

            {{#unless (eq applicationData.avoidTest.value "script")}}
                {{#unless (eq applicationData.avoidTest.value "none")}}
                    <div class="form-group">
                        <label>{{localize "IMPMAL.Opposed"}}</label>
                        <input type="checkbox" name="flags.impmal.applicationData.avoidTest.opposed" {{checked
                            flags.impmal.applicationData.avoidTest.opposed}}>
                    </div>
                {{/unless}}
            {{/unless}}

            {{#unless (eq applicationData.avoidTest.value "none")}}
                <div class="form-group">
                    <label>{{localize "IMPMAL.Prevention"}}</label>
                    <input type="checkbox" name="flags.impmal.applicationData.avoidTest.prevention" {{checked applicationData.avoidTest.prevention}}>
                    <p class="notes">{{{localize "IMPMAL.EffectApplicationAvoidTestPrevention"}}}</p>
                </div>
                <div class="form-group">
                    <label>{{localize "IMPMAL.Reversed"}}</label>
                    <input type="checkbox" name="flags.impmal.applicationData.avoidTest.reversed" {{checked applicationData.avoidTest.reversed}}>
                    <p class="notes">{{{localize "IMPMAL.EffectApplicationAvoidTestReversed"}}}</p>
                </div>
                {{#unless applicationData.avoidTest.reversed}}
                    <div class="form-group">
                        <label>{{localize "IMPMAL.Manual"}}</label>
                        <input type="checkbox" name="flags.impmal.applicationData.avoidTest.manual" {{checked applicationData.avoidTest.manual}}>
                        <p class="notes">{{{localize "IMPMAL.EffectApplicationAvoidTestManual"}}}</p>
                    </div>
                {{/unless}}
            {{/unless}}

            {{#if (eq applicationData.avoidTest.value "custom")}}
                <div class="form-group">
                    <label>{{localize "IMPMAL.Difficulty"}}</label>
                    <div class="form-fields">
                        <select name="flags.impmal.applicationData.avoidTest.difficulty">
                            {{#select flags.impmal.applicationData.avoidTest.difficulty}}
                                {{#each (config "difficulties")}}
                                    <option value="{{@key}}">{{this.name}} ({{numberFormat this.modifier
                                        sign=true}})
                                    </option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label>{{localize "IMPMAL.Characteristic"}}</label>
                    <div class="form-fields">
                        <select name="flags.impmal.applicationData.avoidTest.characteristic">
                            {{#select flags.impmal.applicationData.avoidTest.characteristic}}
                                <option value=""></option>
                                {{#each (config "characteristics")}}
                                    <option value="{{@key}}">{{this}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{localize "IMPMAL.Skill"}}</label>
                    <div class="form-fields">
                        <select name="flags.impmal.applicationData.avoidTest.skill.key">
                            {{#select flags.impmal.applicationData.avoidTest.skill.key}}
                                <option value=""></option>
                                {{#each (config "skills")}}
                                    <option value="{{@key}}">{{this}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                        <input type="text" name="flags.impmal.applicationData.avoidTest.skill.specialisation"
                            value="{{flags.impmal.applicationData.avoidTest.skill.specialisation}}"
                            placeholder="{{localize 'IMPMAL.Specialisation'}}">
                    </div>
                </div>
            {{/if}}
        {{/if}}

        {{#if (hasProperty this "applicationData.equipTransfer")}}
            <div class="form-group">
                <label>{{localize "IMPMAL.EffectApplicationEquipTransfer"}}</label>
                <input type="checkbox" name="flags.impmal.applicationData.equipTransfer" {{checked flags.impmal.applicationData.equipTransfer}}>
                <p class="notes">{{localize "IMPMAL.EffectApplicationEquipTransferHint"}}</p>
            </div>
        {{/if}}

        {{#if (hasProperty this "applicationData.enableConditionScript")}}
            <div class="form-group">
                <label>{{localize "IMPMAL.EffectApplicationEnableScript"}}<a class="script-config"
                        data-path="flags.impmal.applicationData.enableConditionScript"><i
                            class="fa-solid fa-gear-complex-code"></i></a></label>
                <p class="notes">{{localize "IMPMAL.EffectApplicationEnableScriptHint"}}</p>
            </div>
        {{/if}}
        {{#if (hasProperty this "applicationData.filter")}}
            <div class="form-group">
                <label>{{localize "IMPMAL.EffectApplicationFilter"}}
                    <a class="script-config" data-path="flags.impmal.applicationData.filter">
                        <i class="fa-solid fa-gear-complex-code"></i>
                    </a>
                </label>
                <p class="notes">{{{localize "IMPMAL.EffectApplicationFilterHint"}}}</p>
            </div>
        {{/if}}
        {{#if (hasProperty this "applicationData.prompt")}}
            <div class="form-group">
                <label>{{localize "IMPMAL.EffectApplicationPrompt"}}</label>
                <input type="checkbox" name="flags.impmal.applicationData.prompt" {{checked flags.impmal.applicationData.prompt}}>
                <p class="notes">{{{localize "IMPMAL.EffectApplicationPromptHint"}}}</p>
            </div>
        {{/if}}
        {{#if (hasProperty this "applicationData.consume")}}
            <div class="form-group">
                <label>{{localize "IMPMAL.EffectApplicationConsume"}}</label>
                <p class="notes">{{localize "IMPMAL.EffectApplicationConsumeHint"}}</p>
            </div>
        {{/if}}
    {{/with}}
</div>