<div class="form-group">
    <label>{{localize "IMPMAL.Characteristic"}}</label>
    <div class="form-fields">
        <select name="system.transferData.avoidTest.characteristic">
            {{#select system.transferData.avoidTest.characteristic}}
                <option value=""></option>
                {{#each (config "characteristics")}}
                    <option value="{{@key}}">{{this}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</div>
<div class="form-group">
    <label>{{localize "IMPMAL.Skill"}}</label>
    <div class="form-fields">
        <select type="text" name="system.transferData.avoidTest.skill.key" value="{{system.transferData.avoidTest.skill.key}}">
            {{#select system.transferData.avoidTest.skill.key}}
                <option value=""></option>
                {{#each (config "skills")}}
                    <option value="{{@key}}">{{this}}</option>
                {{/each}}
            {{/select}}
        </select>
        <input type="text" name="system.transferData.avoidTest.skill.specialisation" value="{{system.transferData.avoidTest.skill.specialisation}}">
        </select>
    </div>
</div>
<div class="form-group">
    <label>{{localize "IMPMAL.Difficulty"}}</label>
    <div class="form-fields">
        <select name="system.transferData.avoidTest.difficulty">
        {{#select system.transferData.avoidTest.difficulty}}
            <option value=""></option>
            {{#each (config "difficulties")}}
                <option value="{{@key}}">{{this.name}} ({{numberFormat this.modifier sign=true}})</option>
            {{/each}}
        {{/select}}
        </select>
    </div>
</div>