<form>

<p>{{{localize "IMPMAL.UpdaterContent"}}}</p>
<ul>
    <li><input type="checkbox" name="actors" checked> {{localize "IMPMAL.UpdaterOverwriteActors"}}</li>
    <li><input type="checkbox" name="journals" checked> {{localize "IMPMAL.UpdaterOverwriteJournals"}}</li>
    <li><input type="checkbox" name="items" checked> {{localize "IMPMAL.UpdaterOverwriteItems"}}</li>
    <li><input type="checkbox" name="tables" checked> {{localize "IMPMAL.UpdaterOverwriteTables"}}</li>
    <li><input type="checkbox" name="scenes" checked> {{localize "IMPMAL.UpdaterOverwriteScenes"}}</li>
</ul>
<ul>
    <li><input type="checkbox" name="excludeNameChange" checked> {{localize "IMPMAL.UpdaterExclude"}} <i title="{{localize 'IMPMAL.UpdaterExcludeHint'}}" class="far fa-question-circle"></i></li>
</ul>

</form>
    