<div>
    <div class="form-group">
        <label>{{localize "IMPMAL.XP"}}</label>
        <div class="form-fields">
            <input type="number" name="xp" value="{{xp}}">
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "IMPMAL.Solars"}}</label>
        <div class="form-fields">
            <input type="number" name="solars" value="{{solars}}">
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "IMPMAL.Reason"}}</label>
        <div class="form-fields">
            <input type="text" name="reason" value="{{reason}}">
        </div>
    </div>
    <button type="submit">Submit</button>
</div>