<div class="form-group">
    <label>{{localize "Label"}}</label>
    <input name="label" type="text" value="{{script.label}}"></input>
</div>

<div class="form-group">
    <label>{{localize "IMPMAL.ScriptTrigger"}}</label>
    <select name="trigger">
        {{#select script.trigger}}
            <option></option>
            {{#each (config "scriptTriggers")}}
                <option value="{{@key}}">{{this}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group" data-option="dialog">
    <label>{{localize "IMPMAL.DialogModifierTargeter"}}</label>
    <input name="targeter" type="checkbox" {{checked script.options.dialog.targeter}}>
</div>


<div class="form-group stacked" data-option="dialog">
    <label>{{localize "IMPMAL.DialogModifierHideScript"}}</label>
    <div>
        <textarea class="no-ace" {{#unless (isGM)}}disabled{{/unless}} name="hideScript">{{script.options.dialog.hideScript}}</textarea>
    </div>
</div>

<div class="form-group stacked" data-option="dialog">
    <label>{{localize "IMPMAL.DialogModifierAcivationScript"}}</label>
    <div>
        <textarea class="no-ace" {{#unless (isGM)}}disabled{{/unless}} name="activateScript">{{script.options.dialog.activateScript}}</textarea>
    </div>
</div>


<div class="form-group stacked" data-option="dialog">
    <label>{{localize "IMPMAL.DIalogModifierSubmissionScript"}}</label>
    <div>
        <textarea class="no-ace" {{#unless (isGM)}}disabled{{/unless}} name="submissionScript">{{script.options.dialog.submissionScript}}</textarea>
    </div>
</div>


<div class="form-group" data-option="immediate">
    <label>{{localize "IMPMAL.ImmediateDeleteEffect"}}</label>
    <input name="deleteEffect" type="checkbox" {{checked script.options.immediate.deleteEffect}}>
    <p class="notes">{{localize "IMPMAL.ImmediateDeleteEffectHint"}}</p>
</div>



