<form>
    <div>
        {{#each tableSettings}}
            <div class="form-group">
                <label>{{localize (concat "IMPMAL.TableSetting." @key)}}</label>
                <div class="form-fields">
                    <select name="{{@key}}">
                            {{#select this}}
                            <option value=""></option>
                                {{#each ../tables}}
                                    <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            {{/select}}
                    </select>
                </div>
            </div>
        {{/each}}
    </div>
    <button type="submit">{{localize "Submit"}}</button>
</form>