<form>
    <div>

        <nav class="tabs">
            <a class="item" data-tab="traits">{{localize "IMPMAL.Traits"}}</a>
            <a class="item" data-tab="effects">{{localize "IMPMAL.Effects"}}</a>
        </nav>

        <section class="content">
            <div class="tab" data-tab="traits">

                <div class="form-group">
                    <label>{{localize "IMPMAL.Barrier"}}</label>
                    <div class="form-fields">
                        <input type="checkbox" name="flags.impmal.traits.barrier" {{checked
                            object.flags.impmal.traits.barrier}}>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{localize "IMPMAL.Cover"}}</label>
                    <div class="form-fields">
                        <select name="flags.impmal.traits.cover">
                            {{#select object.flags.impmal.traits.cover}}
                                <option value=""></option>
                                <option value="partialCover">{{localize "IMPMAL.PartialCover"}}</option>
                                <option value="totalCover">{{localize "IMPMAL.TotalCover"}}</option>
                            {{/select}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{localize "IMPMAL.DifficultTerrain"}}</label>
                    <div class="form-fields">
                        <input type="checkbox" name="flags.impmal.traits.difficultTerrain" {{checked
                            object.flags.impmal.traits.difficultTerrain}}>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{localize "IMPMAL.Obscured"}}</label>
                    <div class="form-fields">
                        <select name="flags.impmal.traits.obscured">
                            {{#select object.flags.impmal.traits.obscured}}
                                <option value=""></option>
                                <option value="lightlyObscured">{{localize "IMPMAL.LightlyObscured"}}</option>
                                <option value="heavilyObscured">{{localize "IMPMAL.HeavilyObscured"}}</option>
                            {{/select}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{localize "IMPMAL.Hazard"}}</label>
                    <div class="form-fields">
                        <select name="flags.impmal.traits.hazard">
                            {{#select object.flags.impmal.traits.hazard}}
                                <option value=""></option>
                                <option value="minorHazard">{{localize "IMPMAL.MinorHazard"}}</option>
                                <option value="majorHazard">{{localize "IMPMAL.MajorHazard"}}</option>
                                <option value="deadlyHazard">{{localize "IMPMAL.DeadlyHazard"}}</option>
                            {{/select}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{localize "IMPMAL.Light"}}</label>
                    <div class="form-fields">
                        <select name="flags.impmal.traits.light">
                            {{#select object.flags.impmal.traits.light}}
                                <option value=""></option>
                                <option value="poorlyLit">{{localize "IMPMAL.PoorlyLit"}}</option>
                                <option value="dark">{{localize "IMPMAL.Dark"}}</option>
                            {{/select}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{localize "IMPMAL.WarpTouched"}}</label>
                    <div class="form-fields">
                        <input type="checkbox" name="flags.impmal.traits.warpTouched" {{checked
                            object.flags.impmal.traits.warpTouched}}>
                    </div>
                </div>
            </div>

            <div class="tab" data-tab="effects">
                <section class="list">
                    <header class="list-row">
                        <div class="list-name">{{localize "IMPMAL.Effects"}}</div>
                        <div class="list-controls">
                            <a class="list-create"><i class="fa-solid fa-plus"></i></a>
                        </div>
                    </header>
                    <div class="list-content">
                        {{#each object.flags.impmal.effects}}
                            <div class="list-item" data-index="{{@key}}">
                                <div class="list-row">
                                    <div class="list-name list-edit">
                                        <img src="{{this.icon}}">
                                        <a>{{this.name}}</a>
                                    </div>
                                    <div class="list-controls">
                                        <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </div>
                                <div class="summary">

                                </div>
                            </div>
                        {{/each}}
                    </div>
                </section>
            </div>
        </section>
    </div>
    <button type="submit">{{localize "Submit"}}</button>
</form>