<form>
    <div>

        
        <nav class="sheet-tabs tabs" {{#unless (eq object.documentName "Drawing")}}style="display: none"{{/unless}}>
            <a class="item" data-tab="traits">{{localize "IMPMAL.Traits"}}</a>
            <a class="item" data-tab="effects">{{localize "IMPMAL.Effects"}}</a>
        </nav>

        <section class="content">
            <div class="tab" data-tab="traits">

                <div class="form-group">
                    <label>{{localize "IMPMAL.Barrier"}}</label>
                    <div class="form-fields">
                        <input type="checkbox" name="{{basePath}}.barrier" {{checked traits.barrier}}>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{localize "IMPMAL.Cover"}}</label>
                    <div class="form-fields">
                        <select name="{{basePath}}.cover">
                            {{#select traits.cover}}
                                <option value=""></option>
                                <option value="lightCover">{{localize "IMPMAL.LightCover"}}</option>
                                <option value="mediumCover">{{localize "IMPMAL.MediumCover"}}</option>
                                <option value="heavyCover">{{localize "IMPMAL.HeavyCover"}}</option>
                            {{/select}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{localize "IMPMAL.DifficultTerrain"}}</label>
                    <div class="form-fields">
                        <input type="checkbox" name="{{basePath}}.difficultTerrain" {{checked traits.difficultTerrain}}>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{localize "IMPMAL.Obscured"}}</label>
                    <div class="form-fields">
                        <select name="{{basePath}}.obscured">
                            {{#select traits.obscured}}
                                <option value=""></option>
                                <option value="lightlyObscured">{{localize "IMPMAL.LightlyObscured"}}</option>
                                <option value="heavilyObscured">{{localize "IMPMAL.HeavilyObscured"}}</option>
                            {{/select}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{localize "IMPMAL.Hazard"}}</label>
                    <div class="form-fields">
                        <select name="{{basePath}}.hazard">
                            {{#select traits.hazard}}
                                <option value=""></option>
                                <option value="minorHazard">{{localize "IMPMAL.MinorHazard"}}</option>
                                <option value="majorHazard">{{localize "IMPMAL.MajorHazard"}}</option>
                                <option value="deadlyHazard">{{localize "IMPMAL.DeadlyHazard"}}</option>
                            {{/select}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{localize "IMPMAL.Light"}}</label>
                    <div class="form-fields">
                        <select name="{{basePath}}.light">
                            {{#select traits.light}}
                                <option value=""></option>
                                <option value="poorlyLit">{{localize "IMPMAL.PoorlyLit"}}</option>
                                <option value="dark">{{localize "IMPMAL.Dark"}}</option>
                            {{/select}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{localize "IMPMAL.WarpTouched"}}</label>
                    <div class="form-fields">
                        <input type="checkbox" name="{{basePath}}.warpTouched" {{checked traits.warpTouched}}>
                    </div>
                </div>
            </div>

            <div class="tab" data-tab="effects">
                <section class="list">
                    <header class="list-row">
                        <div class="list-name">{{localize "IMPMAL.Effects"}}</div>
                    </header>
                    <div class="list-content">
                        {{#each object.flags.impmal.effects}}
                            <div class="list-item" data-index="{{@key}}">
                                <div class="list-row">
                                    <div class="list-name list-edit">
                                        <img src="{{this.icon}}">
                                        <a>{{this.name}}</a>
                                    </div>
                                    <div class="list-controls">
                                        <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </div>
                                <div class="summary">

                                </div>
                            </div>
                        {{/each}}
                    </div>
                </section>
            </div>
        </section>
    </div>
    <button type="submit">{{localize "Submit"}}</button>
</form>