<div class="action-list">
    {{#if system.combat.action}}
    <div class="current-action">
        <label><strong>{{localize "IMPMAL.CurrentAction"}}</strong>: {{localize (lookup (configLookup "actions" system.combat.action) "label")}}</label>
        <a class="clear-action"><i class="fa-solid fa-xmark"></i></a>
    </div> 
    {{else}}
        {{#each (config "actions")}}
            <button type="button" class="action" data-action="{{@key}}">{{localize this.label}}</button>
        {{/each}}
        {{#if canUseTWF}}
            <button type="button" class="action" data-action="twf">{{localize "IMPMAL.TwoWeaponFighting"}}</button>
        {{/if}}
    {{/if}}
</div>
