{{#if sections.attacks.show}}
    <div class="item-section">
        <h3>{{localize "IMPMAL.Attacks"}}</h3>
        {{{sections.attacks.html}}}
    </div>
{{/if}}

{{#if sections.skills.show}}
    <div class="item-section">
        {{{sections.skills.html}}}
    </div>
{{/if}}


{{#if sections.traits.show}}
    <div class="item-section">
        <h3>{{localize "IMPMAL.Traits"}}</h3>
        {{{sections.traits.html}}}
    </div>
{{/if}}

{{#if sections.possessions.show}}
    <div class="item-section">
        {{{sections.possessions.html}}}
    </div>
{{/if}}