{{#if defendingAgainst}}
    {{> systems/impmal/templates/actor/partials/defendingAgainst.hbs}}
{{/if}}

{{> systems/impmal/templates/actor/partials/actions.hbs}}

{{#if sections.skills.show}}
    <div class="item-section skills">
        {{{sections.skills.html}}}
    </div>
{{/if}}


    <div class="item-section combat">
        <h3>{{localize "IMPMAL.Attacks"}} <a class="list-create" data-type="weapon"><i class="fa-solid fa-plus"></i></a></h3>
        {{#if attackItems.length}}
        <section class="list">
            <div class="list-content">
                {{#each attackItems}}
                    <div class="list-item" data-id="{{this.id}}">
                        <div class="list-row">
                            <div class="list-name">
                                <img src="{{this.img}}">
                                <a class="roll list-summary-context" data-type="{{this.type}}">{{this.name}}</a>
                            </div>
                            <div class="wide">{{localize this.system.attackData.specialisation}} ({{this.system.attackData.skillTotal}})</div>
                            <div>{{this.system.attackData.damage.value}} {{localize "IMPMAL.Damage"}}</div>
                            {{#if this.system.isRanged}}
                                <div>{{configLookup "ranges" this.system.attackData.range}} {{localize "IMPMAL.Range"}}</div>
                            {{/if}}
                        </div>
                        <div class="aux-row">
                            {{#if this.system.attackData.traits.list.length}}
                                <div class="weapon-traits">

                                    <label>{{localize 'IMPMAL.TraitsT'}}</label>
                                    <div class="trait-list">
                                        {{this.system.attackData.traits.displayString}}
                                    </div>
                                </div>
                            {{/if}}
                            {{#unless this.system.selfAmmo}}
                                {{#if this.system.isRanged}}
                                    <div class="mag">
                                        <label>{{localize "IMPMAL.Mag"}}</label>
                                        <div class="values">
                                            <div class="current">{{this.system.mag.current}}</div>
                                            <div>/</div>
                                            <div class="value">{{this.system.mag.value}}</div>
                                        </div>
                                    </div>
                                    <a class="ammo-used">
                                        {{#if this.system.ammo.document}}
                                            {{this.system.ammo.document.name}}
                                            ({{this.system.ammo.document.system.quantity}})
                                        {{else}}
                                            {{localize "IMPMAL.NoAmmoLoaded"}}
                                        {{/if}}
                                    </a>
                                {{/if}}
                            {{else}}
                                <div class="qty">
                                    <label>{{localize "IMPMAL.Qty."}}</label>
                                    <a class="inc-dec">{{this.system.quantity}}</a>
                                </div>
                            {{/unless}}
                        </div>

                        <div class="summary">

                        </div>
                    </div>
                {{/each}}
            </div>
        </section>
        {{/if}}
    </div>


    <div class="item-section">
        <h3>{{localize "IMPMAL.Traits"}}<a class="list-create" data-type="trait"><i class="fa-solid fa-plus"></i></a></h3>
        {{#if sections.traits.show}}
            {{{sections.traits.html}}}
        {{/if}}
    </div>

    <div class="item-section possessions">
        <h3>{{localize "IMPMAL.Possessions"}}<a class="list-create" data-type="protection,equipment,augmetic,weapon"><i class="fa-solid fa-plus"></i></a></h3>
        {{#if possessions.length}}
        <section class="list">
            <div class="list-content">
                {{#each possessions}}
                    <div class="list-item" data-id="{{this.id}}" data-item-id="{{this.id}}">
                        <div class="list-row">
                            <div class="list-name list-edit list-summary-context">
                                <img src="{{this.img}}">
                                <a>{{this.name}}</a>
                            </div>
                            {{#if this.system.equipped}}
                            <div class="small">
                                <a class="property-toggle" data-id="{{this.id}}" data-target="system.equipped.value">
                                    {{#if this.system.equipped.value}}
                                        <i class="fa-regular fa-circle-check"></i>
                                    {{else}}
                                        <i class="fa-regular fa-circle"></i>
                                    {{/if}}
                                </a>
                            </div>
                            {{/if}}
                            <div class="small">
                                <a class="inc-dec">{{this.system.quantity}}</a>
                            </div>
                            <div class="list-controls">
                                <a class="list-edit"><i class="fa-solid fa-edit"></i></a>
                                <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>
                        <div class="summary">

                        </div>
                    </div>
                {{/each}}
            </div>
        </section>
        {{/if}}
    </div>